<!-- Lats workout Information  --> 
<div class="container-fluid ">

 <h1  class="display-3 text-warning">LATS <span class="text-white">Day</span></h1> 
 
 <!-- First Row Details -->
<div class="row">
 <div class="col-sm-4">
  <div class="card" >
    <span></span>
  <img class="card-img-top" src="./assets/Barbell Row2.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center">Barbell Row</h2>
    <p class="card-text">
     Barbell Rows are a full body, compound exercise. They work your upper-back, lower back, hips and arms. They build a stronger, muscular back and bigger biceps. 
     Barbell Rows are one of the most effective assistance exercises you can do to increase your Squat, Bench Press and Deadlift.
     
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
  <img class="card-img-top" src="./assets/Dumbbell Row1.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center">Dumbbell Row</h2>
    <p class="card-text">
     Bring the dumbbell up to your chest, concentrating on lifting it with your back and shoulder muscles rather than your arms. 
     Keep your chest still as you lift. At the top of the movement, squeeze your shoulder and back muscles. 
     Lower the dumbbell slowly until your arm is fully extended again.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/Seated Lat Pulldown1.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center">Seated Lat Pulldown</h2>
    <p class="card-text">
     While your arms are extended overhead, depress and retract your scapulae (pull shoulders back and down) and attempt to hold this position throughout the exercise. 
     Lean back slightly (no more than a 30 degree angle), 
     using your legs to support your body (low back).
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
</div>

<!-- Second Row Details -->

<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
  <img class="card-img-top" src="./assets/Standing-T-bar-Row1.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Standing T-bar Row </h2>
    <p class="card-text">
     Stand with a loaded landmine between your legs. Bend at the hips and a little at the knees and grasp the landmine bar just under the plates with both hands. 
     You can either interlink your fingers or place one hand over the other. 
     Instead of grasping the landmine bar, you can also hook a double-row bar around it.
     
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
  <img class="card-img-top" src="./assets/Dumbbell Pullover1.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Dumbbell Pullover </h2>
    <p class="card-text">
     The classic dumbbell pullover is a widely used resistance exercise that primarily strengthens the muscles in the chest (pectoralis major) and the large wing-shaped muscles in the back (latissimus dorsi). 
     By making variations to the movement, you can also engage the core muscles and the back of the upper arm (triceps).
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/Landmine Row2.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Meadows Row </h2>
    <p class="card-text">
    The meadows row is a unilateral landmine exercise used to target the muscles of the back. 
    The meadows row also challenges one's grip and indirectly targets the muscles of the bicep. 
    The meadows row is named after John Meadows, who popularized the movement.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
</div>




<!-- Third Row Details -->

<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
  <img class="card-img-top" src="./assets/Rope Straight-Arm Lat Pull-Down2.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Straight-Arm Lat Pull-Down </h2>
    <p class="card-text">
     Straight arm lat pull down is a variation of the straight arm lat pull down and an exercise used to build the muscles of back. 
     Straight arm lat pull down utilizes a Barbell attachment to provide the trainee a more neutral hand positioning.
     
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
  <img class="card-img-top" src="./assets/Seated Low-Cable Row1.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Seated Low-Cable Row </h2>
    <p class="card-text">
     Concentrate on using your bicep muscles and your middle back to perform this exercise. 
     As you lift yourself up above the bar, keep your elbows as close to your body as possible. Hold this position for one count. 
     Inhale and slowly lower yourself back to your starting position until your arms are fully extended again.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/Reverse-Grip Lat Pull-Down1.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Reverse-Grip Lat Pull-Down </h2>
    <p class="card-text">
     Grab a straight-bar attachment with an underhand grip, palms facing toward you, and your hands slightly wider than shoulder-width apart. 
     Your arms should be fully extended upward. This is your starting position. 
     Slowly pull your elbows down and back while squeezing the shoulder blades together.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
</div>

<!-- Fourth Row Details -->

<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
  <img class="card-img-top" src="./assets/Close-Grip Lat Pull-Down2.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Close-Grip Lat Pull-Down  </h2>
    <p class="card-text">
     Your hands should be roughly shoulder width apart. While slightly leaning back, brace your core, 
     bring your shoulder blades down and back, and pull the bar down until it touches the top of your rib cage. 
     Pause briefly at the bottom, squeeze your lats, and slowly return to the starting position.
     
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
      <span></span>
  <img class="card-img-top" src="./assets/Lat Pulldown Behind the Neck2.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Lat Pulldown Behind the Neck </h2>
    <p class="card-text">
     Straighten your body to a point where the cable and pull down bar are directly above your spine and tuck your head forward to allow the bar to be safely lowered. 
     Shrug your shoulder blades back to set your shoulders, this allows the tension to stay on your lats throughout the exercise.
    </p>
    <!-- <a href="#" class="btn btn-primary">See More </a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/Negative Pull-Up1.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Negative Pull-Up </h2>
    <p class="card-text">
     In a negative pullup, you use support to raise yourself to the midway point of a pullup, with your chin over the bar. 
     Then, resisting gravity, you slowly lower yourself into a dead hang, keeping control of your back and arm muscles as you release down.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
</div>
</div>

 


