<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header">
<div class="container-fluid jumbotron backgroundimg">
    
    <!-- <h1 >Gym Spiration </h1>
    <h4 >Fit for Future</h4>  -->
  
<div class="row">
    
    <h2 id="no"> No </h2> 
    <h2 id= "pain">Pain</h2>
    <h2 id="noo">No  </h2>
    <h2 id="gain">Gain</h2>
    <!-- <button class="btn btn-outline-light mx-auto d-block">More Exercises</button> -->
  
  </div> 
  
<!-- <div class="row" >   
      
 <a routerLink ="#" ><img src="../assets/menanimation2.gif" width="75px" height="75px"  class="rounded-circle" id="one"> <p id="men">Men</p></a>
 <a routerLink ="#"><img src="../assets/womenanimated5.gif" width="75px" height="75px" class="rounded-circle" id="two"><p id="women">Women</p></a>
</div> -->

<div class="row" >   
      
 <button id="button1" class="rounded-circle"><a  routerLink ="#" >Men</a></button> 
 <button id="button2" class=" rounded-circle"><a routerLink ="#" >Women</a></button>
</div>

<div>
         <button class="btn btn-dark rounded-pill btn-outline-light"> 
         <a class="nav-link nav-item" routerLink="/Login" data-toggle="modal" data-target="#login">
          <i class="las la-envelope"></i> SignIn</a></button>
       
     <button class="btn btn-dark rounded-pill btn-outline-light">
        <a class="nav-link nav-item" routerLink="/Registration" data-toggle="modal" data-target="#signup"> 
          <i class="las la-envelope-open"></i> SignUp</a>   </button>
</div>
</div></div>
</body>
</html>
