<body>
 <div class="container">
 <section class="contact-section mb-5">
   <h2 class= " text-warning h2-responsive font-weight-bold text-center my-5">Contact Details</h2>
   <p class="text-center text-white w-responsive mx-auto mb-5 ">Do you have any questions? Please do not hositate to contact us directly.
    Our team will come back to you within a matter of hours to help you.
   </p>

   <div class="row">
    <div class="col-md-9 mb-md-0 mb-5 ">
     <form  id="contact-form">
      <div class="row">
       <div class="col-md-6">
        <div class="md-form mb-0">
          <input type="text" name="name" class="form-control">
          <label for="name">Your Name</label>
        </div>        
       </div>

       <div class="col-md-6">
        <div class="md-form mb-0">
          <input type="text" name="email" class="form-control">
          <label for="email">Your Email</label>
        </div>        
       </div>
      </div>

      <div class="row">
       <div class="col-md-12">
        <div class="md-form mb-0">
         <input type="text" name="subject" class="form-control">
         <label for="subject">Subject</label>
        </div>
       </div>
      </div>

      <div class="row">
       <div class="col-md-12">
        <div class="md-form">
         <textarea type="text" name="message" id="message" cols="30" rows="3" class="form-control md-textarea"></textarea>
         <label for="message">Your Message</label>
        </div>
       </div>
      </div>

      <div class="text-center text-md-left">
       <button class="btn rounded-pill btn-warning" type="submit">Send</button>

      </div>

     </form>
    </div>
    <div class="col-md-3 text-center text-primary">
       <ul class="list-unstyled text-danger mb-0">
          <li> <i class="las la-map-marker la-3x"></i>
          <p class="text-white">#3-207, Lakshmi Ganapati Street, Near Gokulam Temple, Madhura Nagar, Kakinada-533004</p>
          </li>
          <li> <i class="las la-phone mt-2 la-3x"></i>
          <p class="text-white">+91 7396022044</p>
          </li>
          <li> <i class="las la-envelope mt-2 la-3x"></i>
          <p class="text-white">gymspirationfitforfuture@gmail.com</p>
          </li>
       </ul>
    </div>
   </div>
 </section>
</div>

</body>
