<body>
 

<div class="container">
 <div class="row">
  <div class="col-md-12">
   <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="activa"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner">
       <div class="carousel-item active">
        <div class="row">
         <div class="col-md-4">
          <div class="single-box">
           <div class="img-area">
            <img src="../assets/trainer1.jpg" class="d-block w-100" alt=""> </div>
            <div class="img-text">
             <h2>JANI BHARAT KUMAR CH</h2>
             <p>I am very Professional, friendly and encouraging with the clients. I will understand clients requirements and I will help them in achieving their desired fitness goals. 
             </p>
            </div>
           </div>
          </div>     

         <div class="col-md-4">
          <div class="single-box">
           <div class="img-area">
            <img src="../assets/2.jpg" class="d-block w-100" alt=""> </div>
            <div class="img-text">
             <h2>Person Two</h2>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et ab quae temporibus distinctio. Ducimus atque asperiores illum quae ut natus saepe aperiam veritatis, velit accusamus, aliquid a? Itaque, quia neque.</p>
            </div>
           </div>
          </div>        

         <div class="col-md-4">
          <div class="single-box">
           <div class="img-area">
            <img src="../assets/3.jpg" class="d-block w-100" alt=""></div>
            <div class="img-text">
             <h2>Person Three</h2>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et ab quae temporibus distinctio. Ducimus atque asperiores illum quae ut natus saepe aperiam veritatis, velit accusamus, aliquid a? Itaque, quia neque.</p>
            </div>
           </div>
          </div>         
        </div>
       </div> 
      </div>
   </div>
  </div>
 </div>
</div>
</body>