<!-- back-squat information  -->
<div class="container-fluid ">

 <h1  class="display-3 text-warning">BACK SQUAT <span class="text-white">DAY</span></h1> 
 
 <!-- First Row Details -->
<div class="row">
 <div class="col-sm-4">
  <div class="card" >
   <img class="card-img-top" src="./assets/overhead_squat.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> overhead squat </h2>
    <p class="card-text">
     The overhead squat is a total-body squatting movement that can increase upper back, shoulder, and core strength, while also reinforcing proper squatting technique. 
     The ability to perform an overhead squat correctly is also a good test of ankle, knee, hip, and shoulder mobility and midline control
      
    </p>
  
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
  <img class="card-img-top" src="./assets/landmine_squat.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center">Landmine Squat</h2>
    <p class="card-text">
     Stand with your feet around shoulder-width apart. With both hands, hold a kettlebell with one hand at either side of the handle. 
     For a dumbbell goblet squat, hold the weight vertically and hold on to the top of the weight. 
     Keep the kettlebell close to your body and hold it at chest height.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/Barbell_back_squats.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center">Barbell back squats</h2>
    <p class="card-text">
     Practise by performing the bodyweight squat. Keep your core tight and place your feet shoulder-width apart, toes pointing outward slightly. 
     Slowly lower your body until your quads are parallel to the floor (or even a little lower), keeping your chest up and back straight.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
</div>

<!-- Second Row Details -->

<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
  <img class="card-img-top" src="./assets/Dumbbell_squat.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Dumbbell squat  </h2>
    <p class="card-text">
     Stand with your feet shoulder-width apart holding a dumbbell in each hand. 
     Lower your body into a deep squat, until your thighs are parallel to the ground. 
     Drive you heels into the floor to push yourself back up to the start position.
     
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
  <img class="card-img-top" src="./assets/Plie_squat.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Plie Squat </h2>
    <p class="card-text">
   Instructions. Stand with your feet wider than shoulder-width apart, arms at your sides, and point your toes out at an angle. 
   Squat down, bending your knees until your thighs are parallel with the ground. 
   As you lower your body, raise your arms above your head.
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/Box_Squat.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Box Squat </h2>
    <p class="card-text">
    Stand tall with your back to a knee-high bench or box 4 to 6 inches behind you. 
    Lower your body by pushing back your hips and bending your knees until your butt touches the box or bench. 
    Reach your arms out in front of your chest for balance. Pause, and then return to a standing position without leaning forward.
    
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
</div>




<!-- Third Row Details -->

<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
  <img class="card-img-top" src="./assets/Barbell Hip Thrust3.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Barbell Hip Thrust </h2>
    <p class="card-text">
     With your upper back pressed against the bench, and hands gripping the bar either side of your hips, bring your feet up flat against the floor, with knees bent around 90′.
     Lift your hips as you pivot on your back until your shoulders, hips and knees are all at the same height. Do not go any higher than this.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
  <img class="card-img-top" src="./assets/Lying_leg_Curl.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Lying Leg Curl </h2>
    <p class="card-text">
     Start by lying flat on your stomach. Adjust the roller pad so that it rests comfortably a few inches under your calves, 
just above the heels. Stretch your legs out fully. Lift your feet smoothly as you exhale, keeping your hips firmly on the bench.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/stand-leg-curl-PURE.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Standing Leg Curl </h2>
    <p class="card-text">
     The Standing Leg Curl is a resistance exercise used to strengthen the hamstrings, buttocks and calves. ... Pull your heel up toward your buttocks, keeping the roller on the back of your ankle and taking your heel up as far as possible. 
     Pause, then return to the starting position. Finish the set then switch legs and repeat.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
</div>

<!-- Fourth Row Details -->

<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
  <img class="card-img-top" src="./assets/seated-curl.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Seated Hamstring Curl  </h2>
    <p class="card-text">
     The seated hamstring curl is an exercise you can do with a weight machine to work the muscles in the back of the thigh. 
     As the name implies, the seated hamstring curl targets the hamstring muscles here in the back of the thigh. 
     Strong hamstring muscles help to protect your ligaments in the knee.
     
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
      <span></span>
  <img class="card-img-top" src="./assets/calf1.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Standing Barbell Calf Raise </h2>
    <p class="card-text">
      Stand tall and support a barbell on your upper back, with your toes facing forward
      Raise both heels and contract your calves on each leg
      Gradually return to the starting position and repeat
    </p>
    <!-- <a href="#" class="btn btn-primary">See More </a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
     <img class="card-img-top" src="./assets/seated calf raise.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center">Seated calf raise </h2>
    <p class="card-text">
Sit down on the seat, and adjust the knee pad to correct height. Place your toes and the ball of your feet on the foot support.
Lower the weight by bending your ankles in a controlled movement.Push the weight up by extending your ankles.
     
    </p>
  
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
</div>
</div>


