.modal-content
{
 background-image:linear-gradient(to top, green, red, orange, rgba(189, 162, 43, 0.993));
 border-radius: 20px;

}

.modal-title
{
   transform: translateX(-2%);
   background:linear-gradient(to right, #24f0e6, #e2192a, #45ec2e);
   -webkit-text-fill-color:transparent;
   -webkit-background-clip: text;
   /* text-shadow: 0px 0px 5px rgba(0,0,0,.5); */
   text-shadow: 0px 0px 6px rgb(242, 192, 245);
 
}
form {
  margin: 2px;
  padding: 2px;
}

.modal-body
{
 background-image: url('../../assets/8.jpg');
 background-repeat: no-repeat;
 background-size: cover; 
 background-position: center center;
 margin:2px;
 padding:0px;
 border-bottom-left-radius: 20px;
 border-bottom-right-radius: 20px;
 margin-bottom: 5px;
 
}

label 
{
  color: rgb(240, 152, 240);
  font-style: normal;
  margin: 10px;
  padding: 10px;
}
.btn {
  background-color: rgb(233, 73, 233);
  color: whitesmoke;
  border-radius: 20px;
  margin: 10px;
}
a {
  color: rgb(248, 248, 246);
  position: absolute;
  float: right;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: rgb(227, 134, 240);
  text-decoration: none;
}

.btn:hover {
  background-color: rgb(229, 240, 77);
  color: rgb(252, 248, 248);
  border-radius: 20px;
  font-weight: 600;
  
}