<body>
 <!-- Lats workout Information  --> 
<div class="container-fluid ">

 <h1  class="display-3 text-warning"> Traditional  <span class="text-white">YOGA</span></h1> 
 
 <!-- 1 First Row Details -->
<div class="row">
 <div class="col-sm-4">
  <div class="card" >
    <span></span>
  <img class="card-img-top" src="./assets/yoga/Adho Mukha Shvanasana.gif" alt="Adho Mukha Shvanasana">
  <div class="card-body">
    <h2 class="card-title text-center">Adho Mukha Svanasana</h2>
    <p class="card-text">
     Adho Mukha Svanasana (AH-doh MOO-kah shvah-NAHS-anna), also commonly known as Downward Dog is the most basic and widely-used yoga pose. 
     The name comes from the Sanskrit words adhas meaning 'down', mukha meaning 'face', svana meaning 'dog' and asana meaning 'posture' or 'seat.
     
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
  <img class="card-img-top" src="./assets/yoga/AdhoMukhaVrikshasanaa.gif" alt="Adho Mukha Vrikshasanaa">
  <div class="card-body">
    <h2 class="card-title text-center">Adho Mukha Vrikshasanaa</h2>
    <p class="card-text">
     Adho Mukha Vriksasana is an asana in which the performer of the asana assumes the pose of an inverted tree, he stands on his hands. 
     Therefore this asana is called Adho Mukha Vrksasana. Tilted Tree Pose or Handstand Pose. This asana resembles a strongly rooted tree when you have got into the pose to perfection.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/yoga/Akarna_Dhanurasana.gif" alt="Akarna Dhanurasana">
  <div class="card-body">
    <h2 class="card-title text-center">Akarna Dhanurasana</h2>
    <p class="card-text">
     Akarna Dhanurasana , also called the Archer pose, Bow and Arrow pose, 
     or Shooting Bow pose is an asana in hatha yoga and modern yoga as exercise. 
     The posture resembles an archer about to release an arrow.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
</div>

<!-- 2 Second Row Details -->

<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
  <img class="card-img-top" src="./assets/yoga/Anantasana.gif" alt="Anantasana">
  <div class="card-body">
    <h2 class="card-title text-center"> Anantasana </h2>
    <p class="card-text">
     Ananta literally means infinite, and it is one of Lord Vishnu's many nicknames. Ananta is also the name of the 1000-headed serpent that Lord Vishnu rests on. 
     This asana is also called Sleeping Vishnu Pose, Eternal One's Pose, and also the Side-Reclining Leg Lift.
     
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
  <img class="card-img-top" src="./assets/yoga/Anjaneyasana.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Anjaneyasana </h2>
    <p class="card-text">
     Anjaneyasana is the Sanskrit term for the 'Low Lunge Pose' resembling a divine child (Anjaneya) with an arched back and reaching towards the sky, as depicted in the epics. 
     As a deep stretching yoga posture, Anjaneyasana gives a powerful stretch and strength to the groins, quadriceps, and iliopsoas of the back legs.
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/yoga/Ardha_Chandrasana.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Ardha Chandrasana </h2>
    <p class="card-text">
    The Ardha Chandrasana or the half moon pose pronounced as (are-dah chan-DRAHS-anna) is a yoga asana that holds great importance. 
    This asana gets its name from the Sanskrit language and is combination of three words, 
    the word “ardha” means half, the word “chandra” means moon and the word “asana” means yoga posture.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
</div>




<!-- 3 Third Row Details -->

<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
  <img class="card-img-top" src="./assets/yoga/Ashtanga_Namaskara.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Ashtanga Namaskara </h2>
    <p class="card-text">
     Ashtanga Namaskara also called Ashtanga Dandavat Pranam, Eight Limbed pose, Caterpillar pose, or Chest, 
     Knees and Chin pose is a posture sometimes used in the Surya Namaskar sequence in modern yoga as exercise, 
     where the body is balanced on eight points of contact
     
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
  <img class="card-img-top" src="./assets/yoga/Astavakrasana.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Astavakrasana </h2>
    <p class="card-text">
     The name comes from the Sanskrit words asta meaning “eight”, vakra meaning “bent, curved”, and asana meaning “posture” or “seat”. Astavakrasana is a hand balance with lateral twist. 
     It is an excellent way to develop your stability and equilibrium, while strengthening the wrists and arms.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/yoga/Baddha_Konasana.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Baddha Konasana </h2>
    <p class="card-text">
     Baddha Konasana, Bound Angle Pose, Throne Pose, Butterfly Pose, or Cobbler's Pose (after the typical sitting position of Indian cobblers when they work), 
     and historically called Bhadrasana, is a seated asana in hatha yoga and modern yoga as exercise.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
</div>

<!-- 4 Fourth Row Details -->

<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
  <img class="card-img-top" src="./assets/yoga/Bakasana.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Bakasana or Kakasana  </h2>
    <p class="card-text">
     Bakasana (Crane pose), and the similar Kakasana (Crow pose) are balancing asanas in hatha yoga and modern yoga as exercise. In all variations, 
     these are arm balancing poses in which hands are planted on the floor, shins rest upon upper arms, and feet lift up.
     </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
      <span></span>
  <img class="card-img-top" src="./assets/yoga/Balasana.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Balasana </h2>
    <p class="card-text">
     Balasana, also known as child's pose, is a resting pose practiced in the fetal position. The name is derived from the Sanskrit words “bala” and “asana”, which translate to “child” and “pose” respectively. 
     Its main anatomical focus is the thighs, although it is useful in relieving back, shoulder, neck, and hip strain
    </p>
    <!-- <a href="#" class="btn btn-primary">See More </a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/yoga/Bhairavasana.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Bhairavasana Ankushasana </h2>
    <p class="card-text">
     Bhairavasana or formidable pose, sometimes called Supta Bhairavasana, is a reclining asana in hatha yoga; 
     the variation Kala Bhairavasana has the body balanced on the straight leg and one arm, as in Vasiṣṭhāsana. 
     Bhairava is one of the eight aspects of the god Shiva.
    </p>
  
  </div>
</div>
 </div>
</div>

<!-- 5 Fifth row information -->

<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
    <span></span>
  <img class="card-img-top" src="./assets/yoga/Bharadvajasana.gif" alt="Adho Mukha Shvanasana">
  <div class="card-body">
    <h2 class="card-title text-center">Bharadvajasana</h2>
    <p class="card-text">
     The asana is dedicated to the sage Bharadvāja who was one of the Seven Great Sages or Rishi. He was the father of Drona, a master of military arts and the royal guru to Kauravas,
     Pandavas and the Devastras, the princes who fought the great war of the Mahābhārata.
     
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
  <img class="card-img-top" src="./assets/yoga/Bhekasanaa.gif" alt="Adho Mukha Vrikshasanaa">
  <div class="card-body">
    <h2 class="card-title text-center">Bhekasana</h2>
    <p class="card-text">
     Bhekasana, or Frog posture is a reclining asana in modern yoga as exercise. 
     It is one of several poses that put the body in a shape like that of a frog: another is Mandukasana.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/yoga/Bhujangasana.gif" alt="Akarna Dhanurasana">
  <div class="card-body">
    <h2 class="card-title text-center">Bhujangasana</h2>
    <p class="card-text">
     Bhujangasana or Cobra Pose is a reclining back-bending asana in hatha yoga and modern yoga as exercise. 
     It is commonly performed in a cycle of asanas in Surya Namaskar (Salute to the Sun) as an alternative to Urdhva Mukha Svanasana (Upwards Dog Pose).
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
</div>

<!--  6 Six Row Details -->

<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
  <img class="card-img-top" src="./assets/yoga/Bhujapidasana.gif" alt="Anantasana">
  <div class="card-body">
    <h2 class="card-title text-center"> Bhujapidasana </h2>
    <p class="card-text">
     Bhujapidasana or Shoulder pressing posture is a hand-balancing asana in modern yoga as exercise. 
     A variant pose, Eka Hasta Bhujasana, has one leg stretched out straight forwards.
     
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
  <img class="card-img-top" src="./assets/yoga/Bidalasana.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Bidalasana </h2>
    <p class="card-text">
     The term Bidalasana is a Sanskrit word where 'Bidal' means cat and the term 'asana' means pose. 
     The main anatomical focus of this pose is upon the ankle, hands, knees, shoulders, upper back and forehead. 
     It is therapeutic for asthma and diabetes. It is considered as quite effective during pregnancy.
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/yoga/Chaturanga_Dandasana.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Chaturanga Dandasana </h2>
    <p class="card-text">
    Chaturanga Dandasana is a popular yoga pose, or asana, that's often included in Sun Salutations and Vinyasa yoga classes. 
    In Sanskrit, “Chaturanga Dandasana” translates to “four-limbed staff pose.” 
    It's also referred to as low plank and is often shortened to Chaturanga
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
</div>




<!-- 7 Seven Row Details -->

<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
  <img class="card-img-top" src="./assets/yoga/Dandasana.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Dandasana </h2>
    <p class="card-text">
     Dandasana is a simple sitting yoga posture. Though this posture is a seated posture, it is not used for meditation or Pranayama. 
     Moreover, this posture is the starting position for many other seated postures. 
     Postures like Merudandasana and Chaduranga Dandasana are popular among this group of Asanas
     
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
  <img class="card-img-top" src="./assets/yoga/Dhanurasana.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Dhanurasana </h2>
    <p class="card-text">
     Dhanurasana is an asana in which the body resembles the shape of a bow in the final position. 
     The asana is very commonly known as Bow Pose as well. It is one of the steps of the popular sequence of asanas known as PadhmaSadhana.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/yoga/Durvasasana.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Durvasasana </h2>
    <p class="card-text">
     Durvasasana is an advanced standing balancing pose with one leg behind the neck; the hands are held together over the chest in prayer position. 
     As well as rating the pose of difficulty level.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
</div>

<!-- 8 Eight Row Details -->

<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
  <img class="card-img-top" src="./assets/yoga/Garbha_Pindasana.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Garbha Pindasana  </h2>
    <p class="card-text">
     Garbha pindasana is an advanced yoga posture which require enough flexibility in the knees, hips and ankles. 
     The name Garbha Pindasana comes from the Sanskrit garbha, meaning “womb,” pinda, meaning “embryo,” and asana, meaning “pose” or “posture.”
     </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
      <span></span>
  <img class="card-img-top" src="./assets/yoga/Garudasana.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Garudasana </h2>
    <p class="card-text">
     Garudasana is an asymmetric position in which one leg, say the right, is crossed over the left, 
     while the arm on the opposite side, say the left, is crossed over the right, and the palms are pressed together. 
     Like all poses on one leg, it demands, and may help to build, balance and concentration.
    </p>
    <!-- <a href="#" class="btn btn-primary">See More </a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/yoga/Gomukhasana.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Gomukhasana </h2>
    <p class="card-text">
  Gomukhasana or Cow Face Pose is a seated asana in hatha yoga and modern yoga as exercise, sometimes used for meditation.
    </p>
  
  </div>
</div>
 </div>
</div>


 <!-- 9 Nine Row Information -->
<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
    <span></span>
  <img class="card-img-top" src="./assets/yoga/Gorakshasana.gif" alt="Adho Mukha Shvanasana">
  <div class="card-body">
    <h2 class="card-title text-center">Gorakshasana</h2>
    <p class="card-text">
     Gorakshasana is an effective posture that aids you in sitting straight as well as gets used for sitting straight. It is therefore really good for the posture and back. 
     Your legs and ankles benefit from any pressure in the feet and post at the similar time stimulate your second chakra. It activates the sexual energy
     
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
  <img class="card-img-top" src="./assets/yoga/Lolasana.gif" alt="Lolasana">
  <div class="card-body">
    <h2 class="card-title text-center">Lolasana</h2>
    <p class="card-text">
     Lolasana (low-LA-suh-nuh) strengthens the arms, wrists and shoulders. It also strengthens the lower back, legs and the abdominal region. 
     Lolasana generates control, coordination and dexterity. Regular practice of this asana will develop strong shoulders for inversions and deeper arm balances.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/yoga/Halasana.gif" alt="Akarna Dhanurasana">
  <div class="card-body">
    <h2 class="card-title text-center">Halasana</h2>
    <p class="card-text">
     Halasana, or Plough pose, is an inverted asana in hatha yoga and modern yoga as exercise. 
     Its variations include Karnapidasana with the knees by the ears, and Supta Konasana with the feet wide apart.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
</div>

<!-- 10 Ten Row Details -->

<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
  <img class="card-img-top" src="./assets/yoga/Hanumanasana.gif" alt="Anantasana">
  <div class="card-body">
    <h2 class="card-title text-center"> Hanumanasana </h2>
    <p class="card-text">
     Hanumanasana is an advanced pose. The pose is approached from a kneeling position, stretching one leg forwards, the other straight back, 
     supporting the body on the hands until the full pose is mastered. The hands may then be placed in prayer position (Anjali Mudra).
     
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
  <img class="card-img-top" src="./assets/yoga/Janusirsasana.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Janusirsasana </h2>
    <p class="card-text">
     Janusirsasana is the combination of three Sanskrit terms: Janu, Siras or Sirsa, and Asana. 
     Everyone knows what Asana is. Hence, Janusirsasana is Knee Head Pose. For easy understanding, 
     it is commonly translated into English as Head to Knee Forward Bending Pose. </p>
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/yoga/Jathara_Parivartanasana.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Jathara Parivartanasana </h2>
    <p class="card-text">
    Jathara Parivartanasana or the Abdominal Twist Pose tones the abdomen and makes the hips and spine more flexible. In Sanskrit, 
    Jathara means belly or abdomen, Parivarta means revolved and Asana means a pose.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
</div>




<!-- 11 Eleven Row Details -->

<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
  <img class="card-img-top" src="./assets/yoga/Kapotasana.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Kapotasana </h2>
    <p class="card-text">
     Pigeon Pose (Kapotasana) It helps increase the elasticity in your arms, spine, thighs, calf muscles, shoulders, and hands. 
It helps to stretch and strengthen the muscles and joints in your legs. This asana also tones the muscles of the throat and organs inside the ribcage, abdomen, and chest.
     
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
  <img class="card-img-top" src="./assets/yoga/Karnapidasana.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Karnapidasana </h2>
    <p class="card-text">
     Karnapadasana is an inverted bend, known as knee-to-ear pose in English. 
     In this asana, you bend your torso in such a way that the inner side of your knees comes in parallel to your ears Here is the right way to perform Karnapidasana 
     Try to look at your nose while performing this asana. Hold this pose for 60-90
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/yoga/Kaundinyasanaa.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Kaundinyasana </h2>
    <p class="card-text">
     Koundinyasana A is the first of two asanas named after the ancient Hindu sage, Koundinya. 
     It is a twisting posture that sees the yogi balance their body in the air with the support of their arms on the ground. 
     To enter this pose, begin on a yoga mat in a squat with the knees together
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
</div>

<!-- 12 Row Details -->

<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
  <img class="card-img-top" src="./assets/yoga/Kraunchasana.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Kraunchasana  </h2>
    <p class="card-text">
     The pose is sitting with one knee forwards on the ground and the foot beside the hip, as in Virasana, the other leg straight and raised to touch the nose and chin, 
     the foot grasped by both hands. It provides a stronger forward bend than Paschimottanasana.
     </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
      <span></span>
  <img class="card-img-top" src="./assets/yoga/Kukkutasana.jpg" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Kukkutasana </h2>
    <p class="card-text">
  Kukkutasana is a strenuous yoga asana that targets the muscles of arms and core, 
  it also requires to have a sense of balance and stability. This pose is recommended to be practiced by intermediate or advanced yoga practitioners.
  The shape of the body in the final position of Kukkutasana resembles that of a cockerel.
    </p>
    <!-- <a href="#" class="btn btn-primary">See More </a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/yoga/Kurmasana.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Kurmasana </h2>
    <p class="card-text">
  Kurmasana or the Tortoise Pose resembles a tortoise that withdraws into its shell when threatened or agitated. The name comes from the Sanskrit words 'kurma' meaning tortoise and 'asana' meaning pose. 
  Practicing the Kurmasana enables you to draw inward and cut out the clutter of the outside world.
    </p>
  
  </div>
</div>
 </div>
</div>


<!-- 13  Row Information -->
<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
    <span></span>
  <img class="card-img-top" src="./assets/yoga/Makarasana.gif" alt="Adho Mukha Shvanasana">
  <div class="card-body">
    <h2 class="card-title text-center">Makarasana</h2>
    <p class="card-text">
     Makarasana or the Crocodile Pose is a relaxing yoga asana. It is perfect for back and shoulder problems. 
     The pose resembles a crocodile taking rest in water, keeping its face and neck above the surface water level.
     
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
  <img class="card-img-top" src="./assets/yoga/Malasana.gif" alt="Lolasana">
  <div class="card-body">
    <h2 class="card-title text-center">Malasana</h2>
    <p class="card-text">
     The name Malasana is used for various squatting asanas in hatha yoga and modern yoga as exercise. ... In the Sritattvanidhi, the name Malasana is given to bhujapidasana, 
     the "shoulder press", in which the palms are placed on the ground, the body balancing on the hands, and the legs resting on the shoulders.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/yoga/Mandukasana.gif" alt="Akarna Dhanurasana">
  <div class="card-body">
    <h2 class="card-title text-center">Mandukasana</h2>
    <p class="card-text">
     Mandukasana, or Frog posture is a group of seated asanas in Hatha yoga and modern yoga as exercise, 
     all of which put the body in a shape like that of a frog. Another frog-like posture is Bhekasana.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
</div>

<!-- 14 Row Details -->

<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
  <img class="card-img-top" src="./assets/yoga/Marichyasana.gif" alt="Marichyasana">
  <div class="card-body">
    <h2 class="card-title text-center"> Marichyasana </h2>
    <p class="card-text">
     Marichyasana (the pose of the sage Marichi) is a sitting twist asana in modern yoga as exercise, in some forms combined with a forward bend.
     
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
  <img class="card-img-top" src="./assets/yoga/Matsyasana.gif" alt="Matsyasana">
  <div class="card-body">
    <h2 class="card-title text-center"> Matsyasana </h2>
    <p class="card-text">
     Matsyasana or Fish pose is a reclining back-bending asana in hatha yoga and modern yoga as exercise. It is commonly considered a counterasana to Sarvangasana, 
     or shoulder stand, specifically within the context of the Ashtanga Vinyasa Yoga Primary Series.</p>
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/yoga/Matsyendrasana.gif" alt="Matsyendrasana">
  <div class="card-body">
    <h2 class="card-title text-center"> Matsyendrasana </h2>
    <p class="card-text">
    Matsyendrasana (Sanskrit: मत्स्येन्द्रासन; IAST: Matsyendrāsana), Matsyendra's Pose or Lord of the Fishes Pose, is a seated twisting asana in hatha yoga and modern yoga as exercise. 
    The full form is the difficult Paripurna Matsyendrasana. A common and easier variant is Ardha Matsyendrasana.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
</div>

<!-- 15 Row Details -->

<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
  <img class="card-img-top" src="./assets/yoga/Mayurasana.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Mayurasana </h2>
    <p class="card-text">
      Mayurasana is one of the oldest non-seated asanas used in hatha yoga; it is first described in the 10th century Vimānārcanākalpa. The Vāsiṣṭha Saṁhitā 1.76-7 states that it destroys all sins.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
  <img class="card-img-top" src="./assets/yoga/Muktasana.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Muktasana </h2>
    <p class="card-text">
     Muktasana is one the seated yoga position for meditation. It is very much similar to Siddhasana. Unlike Siddhasana, it is a basic level yoga posture. 
     It is one of the Top Ten Yoga Postures of ancient times as declared by Hatha Yoga Texts.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/yoga/Natarajasana.gif" alt="Natarajasana">
  <div class="card-body">
    <h2 class="card-title text-center"> Natarajasana </h2>
    <p class="card-text">
     Natarajasana, Lord of the Dance Pose or Dancer Pose is a standing, balancing, back-bending asana in modern yoga as exercise. 
     It is derived from a pose in the classical Indian dance form Bharatnatyam, which is depicted in temple statues in the Nataraja Temple, Chidambaram.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
</div>

<!--16 Row Details -->

<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
  <img class="card-img-top" src="./assets/yoga/Navasana.gif" alt="Navasana">
  <div class="card-body">
    <h2 class="card-title text-center"> Navasana  </h2>
    <p class="card-text">
    The body comes into a V-shape, balancing entirely on the buttocks. In different variations and traditions, the arms, legs and torso may take different positions. 
    In Paripurna Navasana, the legs and back are lifted high and arms extend forward and parallel to the ground.
     </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
      <span></span>
  <img class="card-img-top" src="./assets/yoga/Padmasana.gif" alt="Padmasana">
  <div class="card-body">
    <h2 class="card-title text-center"> Padmasana </h2>
    <p class="card-text">
Lotus position or Padmasana is a cross-legged sitting meditation pose from ancient India, in which each foot is placed on the opposite thigh.
 It is an ancient asana in yoga, predating hatha yoga, and is widely used for meditation in Hindu, Tantra, Jain, and Buddhist traditions.
    </p>
    <!-- <a href="#" class="btn btn-primary">See More </a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/yoga/Parighasana.gif" alt="Parighasana">
  <div class="card-body">
    <h2 class="card-title text-center"> Parighasana </h2>
    <p class="card-text">
  Parighasana (Gate Pose) energizes and lightens the side body and invites the breath to become truly three-dimensional. 
  In Sanskrit parigha means “the bar used for shutting a gate.” In Parighasana the body resembles that cross beam. 
  The asana stretches the intercostal muscles that connect the ribs.
    </p>
  
  </div>
</div>
 </div>
</div>

<!-- 17  Row Information -->


<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
    <span></span>
  <img class="card-img-top" src="./assets/yoga/Parshvakonasana.gif" alt="Parshvakonasana">
  <div class="card-body">
    <h2 class="card-title text-center"> Parshvakonasana </h2>
    <p class="card-text">
     Parsvakonasana is derived from the combination of the Sanskrit words Parsva (side or flank),Kona (angle) and asana (posture or pose). It is called as Side angle Pose in English. 
     This asana helps to stretching the body parts that are not usually fully stretched. It can be practised by all level of students.
     
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
  <img class="card-img-top" src="./assets/yoga/Parshvottanasana.gif" alt="Parshvottanasana">
  <div class="card-body">
    <h2 class="card-title text-center">Parshvottanasana</h2>
    <p class="card-text">
     Parshvottanasana or Intense Side Stretch Pose is a standing and forward bending asana in modern yoga as exercise
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/yoga/Pashasana.gif" alt="Akarna Dhanurasana">
  <div class="card-body">
    <h2 class="card-title text-center">Pashasana</h2>
    <p class="card-text">
     Pashasana exercises the oblique abdominis muscles by combining trunk flexion and twisting. 
     It increases the vayu apana and thus improves elimination. Pashasana is an energetic continuation of Utkatasana in the Primary Series.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
</div>

<!-- 18 Row Details -->

<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
  <img class="card-img-top" src="./assets/yoga/Paschimottanasana.gif" alt="Marichyasana">
  <div class="card-body">
    <h2 class="card-title text-center"> Paschimottanasana </h2>
    <p class="card-text">
     Paschimottanasana, Seated Forward Bend, or Intense Dorsal Stretch is a seated forward-bending asana in hatha yoga and modern yoga as exercise.
     
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
  <img class="card-img-top" src="./assets/yoga/Pincha Mayurasana.gif" alt="Pincha Mayurasana">
  <div class="card-body">
    <h2 class="card-title text-center"> Pincha Mayurasana </h2>
    <p class="card-text">
     Pincha Mayurasana is an Asana. It is translated as Peacock Feather Pose from Sanskrit, 
     the name of this pose comes from pincha meaning feather, mayura meaning peacock and asana meaning posture or seat.
     </p>
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/yoga/Prasarita_Padottanasana.gif" alt="Matsyendrasana">
  <div class="card-body">
    <h2 class="card-title text-center"> Prasarita Padottanasana </h2>
    <p class="card-text">
    The wide-legged forward bend or Prasarita Padottanasana is like an energised version of yoga. It helps in increasing blood circulation to the brain while stretching the legs, arms and back of a person. 
    The name of this yoga asana comes from the Sanskrit language.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
</div>

<!-- 19 Row Details -->

<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
  <img class="card-img-top" src="./assets/yoga/Rajakapotasana.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Rajakapotasana </h2>
    <p class="card-text">
      Raja Kapotasana or King Pigeon Pose is an asana. Raja – king, Kapot – pigeon, Asana – pose; Pronounced As – rah-JAH-cop-poh-TAHS-anna. The Pigeon Pose is practiced in a seated position. 
      It is a backbend pose that makes the chest puff up, thereby resembling the stance of a pigeon
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
  <img class="card-img-top" src="./assets/yoga/Shalabhasana.gif" alt="Shalabhasana">
  <div class="card-body">
    <h2 class="card-title text-center"> Shalabhasana </h2>
    <p class="card-text">
     Shalabhasana is the combination two Sanskrit Words. Shalabh and Asana. 
     Shalabh means a grasshopper or a locust and Asana means yoga pose. In the final position of this pose, it looks like a locust.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/yoga/Sarvangasana.gif" alt="Sarvangasana">
  <div class="card-body">
    <h2 class="card-title text-center"> Sarvangasana </h2>
    <p class="card-text">
     Sarvangasana, Shoulderstand, or more fully Salamba Sarvangasana (Supported Shoulderstand), is an inverted asana in modern yoga as exercise; similar poses were used in medieval hatha yoga.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
</div>

<!--20 Row Details -->

<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
  <img class="card-img-top" src="./assets/yoga/Samakonasanaa.gif" alt="Samakonasana">
  <div class="card-body">
    <h2 class="card-title text-center"> Samakonasana  </h2>
    <p class="card-text">
    Samakonasana or the center split pose is the straight angle pose and is said to be one of the most effective poses of yoga. 
    This pose is great when it comes to flexibility in your leg joints, ankle, back, lower back, etc. Along with your back, it is a great posture for your hamstring, hip bones, and the side hip bones.
     </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
      <span></span>
  <img class="card-img-top" src="./assets/yoga/Shavasana.jpg" alt="Shavasana">
  <div class="card-body">
    <h2 class="card-title text-center"> Shavasana </h2>
    <p class="card-text">
    Shavasana Corpse Pose, or Mrtasana, is an asana in hatha yoga and modern yoga as exercise, often used for relaxation at the end of a session.
    </p>
    <!-- <a href="#" class="btn btn-primary">See More </a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/yoga/Setu Bandha Sarvangasana.gif" alt="Setu Bandha Sarvangasana">
  <div class="card-body">
    <h2 class="card-title text-center"> Setu Bandha Sarvangasana </h2>
    <p class="card-text">
  The Setu Bandha Sarvangasana is one of the basic backbend poses which prepares the body to perform other advanced yoga poses or asanas.
  The Bridge Pose has a lot of scientific benefits compared to other yoga poses. It stretches your chest, neck and spine areas. It also massages your internal organs.
    </p>  
  </div>
</div>
 </div>
</div>

<!-- 21  Row Information -->


<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
    <span></span>
  <img class="card-img-top" src="./assets/yoga/Siddhasana.gif" alt="Siddhasana">
  <div class="card-body">
    <h2 class="card-title text-center"> Siddhasana </h2>
    <p class="card-text">
     Siddhasana or Accomplished Pose, is an ancient seated asana in hatha yoga and modern yoga as exercise suitable for meditation. The names Muktasana (Sanskrit: मुक्तासन, Liberated Pose) and Burmese position are sometimes given to the same pose, sometimes to an easier variant.
     
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
  <img class="card-img-top" src="./assets/yoga/Simhasana.gif" alt="Simhasana">
  <div class="card-body">
    <h2 class="card-title text-center">Simhasana</h2>
    <p class="card-text">
     'Simhasana' commonly known as 'Lion Pose' is one of the most unique yoga poses. 
     It is probably the only asana that requires you to make a sound. 
     The Sanskrit word Simhasana is derived from two words. 
     'Simha' stands for 'lion' and 'asana' as we all know means 'posture'
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/yoga/Shirshasanaa.gif" alt="Shirshasana">
  <div class="card-body">
    <h2 class="card-title text-center">Shirshasana</h2>
    <p class="card-text">
     Salamba Shirshasana, often shortened to Shirshasana, or Yoga Headstand is an inverted asana in modern yoga as exercise; 
     it was described as both an asana and a mudra in classical hatha yoga, under different names. 
     It has been called the king of all asanas.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
</div>

<!-- 22 Row Details -->

<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
  <img class="card-img-top" src="./assets/yoga/Sukhasana.gif" alt="Marichyasana">
  <div class="card-body">
    <h2 class="card-title text-center"> Sukhasana </h2>
    <p class="card-text">
     Sukhasana, easy pose, is a simple cross-legged sitting asana in hatha yoga, 
     sometimes used for meditation in both Buddhism and Hinduism.     
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
  <img class="card-img-top" src="./assets/yoga/Supta Padangusthasana.gif" alt="Supta Padangusthasana">
  <div class="card-body">
    <h2 class="card-title text-center"> Supta Padangusthasana </h2>
    <p class="card-text">
     Supta Padangusthasana (Reclining Hand-to-Big-Toe Pose) is my go-to pose for lower-back pain. Its actions help create traction in the lower back, which can relieve compression and tension. 
     And doing the pose on the floor allows you to safely stretch your hamstrings without putting much stress on your vertebrae
     </p>
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/yoga/Surya Namaskar.gif" alt="Surya Namaskar">
  <div class="card-body">
    <h2 class="card-title text-center"> Surya Namaskar </h2>
    <p class="card-text">
    The name Surya Namaskar is from the Sūrya, "Sun" Namaskāra, "Greeting" or "Salute". Surya is the Hindu god of the sun. This identifies the Sun as the soul and source of all life. 
    Chandra Namaskar is similarly from Chandra, "Moon".
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
</div>

<!-- 23 Row Details -->

<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
  <img class="card-img-top" src="./assets/yoga/Svastikasana.png" alt="Svastikasana">
  <div class="card-body">
    <h2 class="card-title text-center"> Svastikasana </h2>
    <p class="card-text">
      Svastikasana is an ancient meditation asana in hatha yoga, sitting cross-legged. 
      In Sanskrit svastika means auspicious; it is also the name of an ancient Hindu symbol of good fortune
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
  <img class="card-img-top" src="./assets/yoga/Tadasana.gif" alt="Tadasana">
  <div class="card-body">
    <h2 class="card-title text-center"> Tadasana </h2>
    <p class="card-text">
     Tadasana, it comes from the Sanskrit words “tada” means “mountain”. 
     It is a simple standing posture, which forms the basis for all the standing asanas. 
     In this asana body looks like a palm tree thats the reason it is also known as “Mountain Pose”. 
     Tadasana is the beginning and ending asana of Surya Namaskar.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/yoga/Tittibhasana.gif" alt="Tittibhasana">
  <div class="card-body">
    <h2 class="card-title text-center"> Tittibhasana </h2>
    <p class="card-text">
     Tittibhasana or Firefly pose is an arm-balancing asana in hatha yoga and modern yoga as exercise.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
</div>

<!--24 Row Details -->

<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
  <img class="card-img-top" src="./assets/yoga/Trikonasana.gif" alt="Samakonasana">
  <div class="card-body">
    <h2 class="card-title text-center"> Trikonasana  </h2>
    <p class="card-text">
    Trikonasana or Utthita Trikonasana, Triangle Pose is a standing asana in modern yoga as exercise. 
    Variations include Baddha Trikonasana (bound triangle pose) and Parivrtta Trikonasana (revolved triangle pose).
     </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
      <span></span>
  <img class="card-img-top" src="./assets/yoga/Trivikramasana.jpg" alt="Shavasana">
  <div class="card-body">
    <h2 class="card-title text-center"> Trivikramasana </h2>
    <p class="card-text">
    Trivikramasana is an Asana. It is translated as Pose Dedicated to Trivikrama from Sanskrit. The name of this pose comes from Trivikrama in reference to a Hindu Mythology Trivikrama, and asana meaning posture or seat.
    </p>
    <!-- <a href="#" class="btn btn-primary">See More </a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/yoga/Tulasana.jpg" alt="Tulasana">
  <div class="card-body">
    <h2 class="card-title text-center"> Tulasana </h2>
    <p class="card-text">
  The Sanskrit word Tulasana is the combination of two words Tula and Asana. 
  So Tulasana means Scale Pose or Balance Pose. On performance, 
  this posture looks like a balance. For this reason, this posture gets this name.
    </p>  
  </div>
</div>
 </div>
</div>


<!--25 Row Details -->

<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
  <img class="card-img-top" src="./assets/yoga/Upavishta Konasana.gif" alt="Samakonasana">
  <div class="card-body">
    <h2 class="card-title text-center"> Upavishta Konasana  </h2>
    <p class="card-text">
    Upavistha Konasana, also referred to as the Wide Angle Seated Forward Bend Pose, 
    stretches your hamstrings and groins. It activates your core muscles and strengthens 
    the supporting muscles of your spine. This benefits your back muscles and also improves your posture.
     </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
      <span></span>
  <img class="card-img-top" src="./assets/yoga/Urdhva Dhanurasana Chakrasana.gif" alt="Urdhva Dhanurasana Chakrasana">
  <div class="card-body">
    <h2 class="card-title text-center"> Chakrasana </h2>
    <p class="card-text">
    Chakrasana or Urdhva Dhanurasana is an asana in yoga as exercise. It is a backbend and is the first pose of the finishing sequence in Ashtanga Vinyasa Yoga. It gives great flexibility to the spine.
    </p>
    <!-- <a href="#" class="btn btn-primary">See More </a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/yoga/Urdhva Mukha Shvanasana.gif" alt="Urdhva Mukha Shvanasana">
  <div class="card-body">
    <h2 class="card-title text-center"> Urdhva Mukha Shvanasana </h2>
    <p class="card-text">
  Urdhva Mukha Shvanasana or Upward Facing Dog Pose is a back-bending asana in modern yoga as exercise. It is commonly part of the widely-performed Surya Namaskar sequence, though the similar Bhujangasana may be used there instead.
    </p>  
  </div>
</div>
 </div>
</div>

<!-- 26  Row Information -->


<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
    <span></span>
  <img class="card-img-top" src="./assets/yoga/Ushtrasana.gif" alt="Siddhasana">
  <div class="card-body">
    <h2 class="card-title text-center"> Ushtrasana </h2>
    <p class="card-text">
     Ustrasana is a deep backward bend from a kneeling position; the completed pose has the hands on the heels. The backs of the feet may be flat on the floor, or the toes may be tucked under for a slightly less strong backbend. The pose is one of the 26 asanas in the Bikram Yoga sequence.
     
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
  <img class="card-img-top" src="./assets/yoga/Utkatasana.gif" alt="Simhasana">
  <div class="card-body">
    <h2 class="card-title text-center"> Utkatasana </h2>
    <p class="card-text">
     Utkatasana strengthens the thighs and ankles, while toning the shoulders, 
     butt, hips, and back. It stretches the Achilles tendons and shins, and is known 
     to be therapeutic for flat feet. Utkatasana also stretches the shoulders and opens the chest. It tones your digestive organs and heart.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/yoga/Uttanasana.gif" alt="Uttanasana">
  <div class="card-body">
    <h2 class="card-title text-center">Uttanasana</h2>
    <p class="card-text">
    When you translate Uttanasana literally into English, it means a powerful stretch pose. In English, this asana is called the Standing Forward Bend. 
    In this asana, your head is below the heart, and this allows for blood circulation in your head instead of your feet, giving your cells a rush of energizing oxygen
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
</div>

<!-- 27 Row Details -->

<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
  <img class="card-img-top" src="./assets/yoga/Utthita Hastapadangusthasana.gif" alt="Utthita Hastapadangusthasana">
  <div class="card-body">
    <h2 class="card-title text-center"> Utthita Hastapadangusthasana </h2>
    <p class="card-text">
     Utthita Hasta Padangustasana is an Asana. It is translated as Extended Hand to Big Toe Pose from Sanskrit. 
     the name of this pose comes from utthita meaning extended, hasta meaning hand, 
     pada meaning leg or foot, angusta meaning big toe, and asana meaning posture or seat.    
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
  <img class="card-img-top" src="./assets/yoga/Viparita Dandasana.jpg" alt="Supta Padangusthasana">
  <div class="card-body">
    <h2 class="card-title text-center"> Viparita Dandasana </h2>
    <p class="card-text">
     Viparita Dandasana or Inverted Staff Pose is an inverted back-bending asana in modern yoga as exercise. 
     It may be performed with both feet on the ground, or with one leg raised straight up.
     </p>
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/yoga/Vajrasana.gif" alt="Surya Namaskar">
  <div class="card-body">
    <h2 class="card-title text-center"> Vajrasana </h2>
    <p class="card-text">
  Vajrasana pose is a simple sitting yoga pose. Its name comes from the Sanskrit word vajra, which means thunderbolt or diamond.
   For this pose, you kneel and then sit back on your legs to take the weight off your knees
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
</div>

<!-- 28 Row Details -->

<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
  <img class="card-img-top" src="./assets/yoga/Vasishtasana.gif" alt="Svastikasana">
  <div class="card-body">
    <h2 class="card-title text-center"> Vasishtasana </h2>
    <p class="card-text">
      Utthita Vasisthasana or Side Plank pose is a balancing asana in modern yoga as exercise.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
  <img class="card-img-top" src="./assets/yoga/Viparita Karani.gif" alt="Tadasana">
  <div class="card-body">
    <h2 class="card-title text-center"> Viparita Karani </h2>
    <p class="card-text">
    Viparita Karani or legs up the wall pose is both an asana and a mudra in hatha yoga. In modern yoga as exercise, it is commonly a fully supported pose using a wall and sometimes a pile of blankets.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/yoga/Viparita Virabhadrasana.gif" alt="Viparita Virabhadrasana">
  <div class="card-body">
    <h2 class="card-title text-center"> Viparita Virabhadrasana </h2>
    <p class="card-text">
    Viparita Virabhadrasana, also known as Reverse Warrior, is a standing pose widely used in yoga practices. Its name stems from the Hindu warrior, Virabhadra, an incarnation of the god Shiva. The word “Viparita” means “reverse” in Sanskrit.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
</div>

<!--29 Row Details -->

<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
  <img class="card-img-top" src="./assets/yoga/Virabhadrasana I.gif" alt="Virabhadrasana I">
  <div class="card-body">
    <h2 class="card-title text-center"> Virabhadrasana I  </h2>
    <p class="card-text">
    Virabhadrasana or Warrior Pose is a group of related lunging standing asanas in modern yoga as exercise commemorating the exploits of a mythical warrior, Virabhadra.
     </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
      <span></span>
  <img class="card-img-top" src="./assets/yoga/Virabhadrasana II.gif" alt="Virabhadrasana II">
  <div class="card-body">
    <h2 class="card-title text-center"> Virabhadrasana II </h2>
    <p class="card-text">
    A powerful stretch for the legs, groins, and chest, Virabhadrasana II also increases stamina. It helps to relieve backaches, and stimulates healthy digestion. This is a deep hip-opening pose that strengthens the muscles in the thighs and buttocks. It tones the abdomen, ankles, and arches of the feet.
    </p>
    <!-- <a href="#" class="btn btn-primary">See More </a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/yoga/Virabhadrasana III.gif" alt="Virabhadrasana III">
  <div class="card-body">
    <h2 class="card-title text-center"> Virabhadrasana III </h2>
    <p class="card-text">
 Virabhadrasana III is a challenging pose – it gives elasticity to the hip joints and back and leg muscles, 
 and strengthens the back, while removing cramps in the legs, hips and back. It also aids in digestion and elimination, and helps melt excess fat off the body.
    </p>  
  </div>
</div>
 </div>
</div>

<!--30 Row Details -->

<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
  <img class="card-img-top" src="./assets/yoga/Virasana.gif" alt="Virasana">
  <div class="card-body">
    <h2 class="card-title text-center"> Virasana  </h2>
    <p class="card-text">
   Virasana is a basic kneeling asana and the starting position for several forward and backwards bends and certain twists. Virasana may also be used as an alternative to other seated asanas such as the padmasana (lotus pose) for meditation.
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
      <span></span>
  <img class="card-img-top" src="./assets/yoga/Vrikshasana.gif" alt="Vrikshasana">
  <div class="card-body">
    <h2 class="card-title text-center"> Vrikshasana </h2>
    <p class="card-text">
   Vrikshasana or Tree Pose is a balancing asana. It is one of the very few standing poses in medieval hatha yoga, and remains popular in modern yoga as exercise.
    </p>
    <!-- <a href="#" class="btn btn-primary">See More </a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/yoga/Vrischikasana.gif" alt="Vrischikasana">
  <div class="card-body">
    <h2 class="card-title text-center"> Vrischikasana </h2>
    <p class="card-text">
      Vrischikasana is an advanced asana. In Sankrit, Vrischika means Scorpion. In order to sting it s victim, the scorpion arches its tail above its back and then strikes beyond its head. This asana resembles a striking scorpion
    </p>  
  </div>
</div>
 </div>
</div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/yoga/Yoganidrasana.jpg" alt="Yoganidrasana">
  <div class="card-body">
    <h2 class="card-title text-center"> Yoganidrasana </h2>
    <p class="card-text">
      Yoganidrasana or Yogic Sleep Pose is a reclining forward-bending asana in modern yoga as exercise. ... In hatha yoga, the pose, Pasini Mudra, was a mudra, a seal to prevent the escape of prana, not an asana.
    </p>  
  </div>
</div>
 </div>


</div>
</body>
