<div class="container-fluid">
 <div class="row mt-5">

  <div class="col-sm-5">
   
     <img src="./assets/trainer1.jpg" class="rounded-circle" width="250px" height="250px" alt="">
    
     <h3>JANI BHARAT KUMAR CHITTURI</h3>
     <button class="btn btn1" routerLink="/paymentsession">PAY FOR SESSIONS</button>     
  </div>
  
  <div class="col-sm-7 mt-5 mb-5">
   
   <p> <span class="text-warning">JANI BHARAT KUMAR CHITTURI</span>, I am very Professional, friendly and encouraging with the clients. I will understand clients requirements and I will help them in achieving their desired fitness goals. 
    Getting fit and staying fit takes a lot of work for many clients. To keep clients coming back for more classes or to continue personal training.
who leads, instructs, and motivates individuals or groups in exercise activities, including cardiovascular exercise (exercises for the heart and blood system), strength training, and stretching. I work with people of all ages and skill levels.
Demonstrate how to carry out various exercises and routines.
Watch clients do exercises and show or tell them correct techniques to minimize injury and improve fitness.
I will provide alternative exercises during workouts or classes for different levels of fitness and skill.
Monitor client’s progress and adapt programs as needed.
Explain and enforce safety rules and regulations on sports, recreational activities, and the use of exercise equipment.
I will provide information about nutrition, weight control, and lifestyle issues.
   </p>


  </div>  
 </div>
 </div>


