*
{
  margin:0px;
  padding:0px;  
  box-sizing: border-box;
}
body
{
  background-color: rgba(0, 0, 0, 0.8);
}
.navbar
{
  background-color: rgba(27, 27, 27, 0.8);
}

 .navbar-brand h2 
 {
  max-width: 100%;
  margin:0px;
  padding:0px;  
  font-weight: 900;
  position:absolute;
  top:0;
  font-size:8vh;
  color:rgb(166, 9, 168);
  transform: translateX(-2%);
  background:linear-gradient(to right, #f73ced, #fdfafd, #ee58e1);
  -webkit-text-fill-color:transparent;
  -webkit-background-clip: text;
  /* text-shadow: 0px 0px 5px rgba(0,0,0,.5); */
  text-shadow: 0px 0px 6px rgb(242, 192, 245);
  
}
@font-face {
  font-family: 'Edwardian Script ITC';
  src: url(../fonts/ITCEDSCR.TTF);
  font-style: normal;
  font-weight: 600;
}
.navbar-brand h4 
{
  max-width: 100%;
  position:relative;
  top:20px;
  margin-left:30px;
  line-height: 5px;
  font-size: 5vh;  
  font-family: 'Edwardian Script ITC';
  letter-spacing: 6px;
  color: rgb(248, 221, 14);
  font-weight: 600;
}
.nav-item
{  
  margin:0;
  padding:0;  
}

.navbar-nav a
{
 
 margin:0px 1px;
 margin-top:0px; 
   transform: translateX(-2%);
   background:linear-gradient(to right, #f73ced, #fdfafd, #ee58e1);
   -webkit-text-fill-color:transparent;
   -webkit-background-clip: text;
   /* text-shadow: 0px 0px 5px rgba(0,0,0,.5); */
   text-shadow: 0px 0px 6px rgb(242, 192, 245);
  
}
.navbar-toggler
{
 color:rgb(253, 227, 27) !important;
 border:none!important;
 outline:none!important;
 }
 .nav-link .las{
  color:whitesmoke;

 }
 .nav-link:hover{
  font-weight: 800;
  border-bottom: 2px solid rgb(255, 255, 255);
  margin-bottom: -1px;
 
 }

 @media (max-width:700px)
 {
  .navbar
  {
   background-color: rgba(27, 27, 27, 0.8);
  }
  .navbar-nav a
  {
   margin:0px 5px 0 17px;
   margin-top:7px;   
  }
  .nav-link:hover 
  {
   border-bottom:none;   
  }  

  .navbar-brand h4 
  {
    max-width: 100%;
    position: relative;
    top: 12px;
    margin-left: 20px;
    font-size: 4vh;    
  }
   .navbar-brand h2 
   {     
     font-size: 6vh; 

   }
 
 }

