<!-- Bicep workout Information  --> 
<div class="container-fluid ">

 <h1  class="display-3 text-warning">BICEP <span class="text-white">DAY</span> </h1> 
 
 <!-- First Row Details -->
<div class="row">
 <div class="col-sm-4">
  <div class="card" >
    <span></span>
  <img class="card-img-top" src="./assets/STANDING BARBELL CURL.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center">STANDING BARBELL CURL</h2>
    <p class="card-text">
     A Barbell Curl. Stand tall with your chest up and core braced, 
     holding the barbell with your hands just outside of your hips, using an underhand grip. 
     Keeping your chest up and your elbows tight to your sides, 
     initiate the move by raising your hands slightly so you feel your biceps become engaged.
     
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
  <img class="card-img-top" src="./assets/preacher curl.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center">ez-bar preacher curl</h2>
    <p class="card-text">
     preacher bench and an E-Z bar for this exercise. Position your upper arms and chest against the preacher bench pad while holding the E-Z Curl Bar at shoulder length. As you exhale, 
     use the biceps to curl the weight up until your biceps are fully contracted and the bar is at shoulder height
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/DUMBBELL PREACHER CURL.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center">DUMBBELL PREACHER CURL</h2>
    <p class="card-text">
     It's tempting during preacher curls to use body English to drive the dumbbell upwards. 
     When the biceps gets tired, you start to rock backwards and essentially sit your torso lower, 
     trying to use your shoulder as a fulcrum and drive the weight up. 
     Head this off before you even start a sit
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
</div>

<!-- Second Row Details -->

<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
  <img class="card-img-top" src="./assets/HAMMER CURL.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> HAMMER CURL </h2>
    <p class="card-text">
     The hammer curl is a simple variation of the biceps curl that helps to target additional muscles in the upper and lower arm for greater definition and increased strength. 
     Many believe that this exercise can also help to increase wrist stability and improve your grip strength. 
     
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
  <img class="card-img-top" src="./assets/CABLE ROPE HAMMER CURL.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> CABLE ROPE HAMMER CURL </h2>
    <p class="card-text">
     The cable rope hammer curl is a popular arm-focused exercise performed with a rope handle attached by a cable to a weight stack. 
     It uses a neutral (palms facing one another) grip, 
     which targets the forearms and brachialis muscles in addition to the biceps.
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/SPIDER CURLL.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> SPIDER CURL </h2>
    <p class="card-text">
     Lie face-down on the bench with your torso and stomach pressed against the back rest. 
     Hold the bar under you using a supinated grip (palms facing up) with your hands shoulder-width apart. 
     Slowly curl the bar up and pause for a second at the top of the move and squeeze your biceps, 
     then lower the bar under control
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
</div>




<!-- Third Row Details -->

<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
  <img class="card-img-top" src="./assets/SEATED BARBELL CURL.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> SEATED BARBELL CURL </h2>
    <p class="card-text">
     Maintain your elbows in a stationary position as this is your pivot point. 
     Curl the bar so your forearms just break parallel to the floor, allowing for maximum contraction of the biceps without losing tension at the top. 
     Inhale as you return the bar back to your thighs in a controlled motion
     
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
  <img class="card-img-top" src="./assets/LYING CABLE CURLS.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> LYING CABLE CURLS </h2>
    <p class="card-text">
     The lying cable biceps curl is a cable exercise that targets the biceps. 
     It is performed lying on the back, either on a bench or the ground, with the feet facing toward a cable stack. 
     This movement is usually performed for moderate to high reps for a burn and pump as part of an arm-focused workout.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/CABLE ALTERNATING FLEX CURL.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> CABLE ALTERNATING FLEX CURL </h2>
    <p class="card-text">
     Grasp stirrups to each side, palms facing forward. Pull one stirrup up forward and upward toward shoulder while keeping elbow stationary. 
     Return until arm is fully extended. Repeat on other arm, alternating between sides.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
</div>

<!-- Fourth Row Details -->

<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
  <img class="card-img-top" src="./assets/INCLINE DUMBBELL CURL.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> INCLINE DUMBBELL CURL  </h2>
    <p class="card-text">
     The incline dumbbell curl is a variation of the dumbbell curl and an exercise used to build bigger biceps. 
     The biceps is a tricky (and fun) muscle to target and putting yourself in various degrees of incline can help manipulate the range of motion for either a tighter contraction or deeper stretch.
     
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
      <span></span>
  <img class="card-img-top" src="./assets/STANDING DUMBBELL CURL.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> STANDING DUMBBELL CURL </h2>
    <p class="card-text">
     Begin with the dumbbells hanging straight down at your sides. 
     Now, keeping your elbows in at your sides and stationary, curl one dumbbell straight up in front of you. 
     Do not swing up the weight. Hold for 2 seconds, contracting the bicep muscles. Slowly return to starting position.
    </p>
    <!-- <a href="#" class="btn btn-primary">See More </a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/CONCENTRATION CURL.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> CONCENTRATION CURL </h2>
    <p class="card-text">
     Slowly curl the weight up, only moving your forearms – the position of your upper arm on your thigh will help you keep it still during the exercise. 
     At the top of the move, pause for a beat and squeeze your biceps, then slowly lower the weight back to the start. 
     Do all your reps on one arm, then switch to the other.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
</div>
</div>

 

