<!-- shoulder workout Information  --> 
<div class="container-fluid ">

 <h1  class="display-3 text-warning">SHOULDER <span class="text-white">DAY</span> </h1> 
 
 <!-- First Row Details -->
<div class="row">
 <div class="col-sm-4">
  <div class="card">
  <img class="card-img-top" src="./assets/Barbell Overhead Shoulder Press1.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center">Barbell Overhead Shoulder Press</h2>
    <p class="card-text">
     Stand with your body upright and core muscles braced, looking straight ahead. 
     Hold the bar on your upper chest, gripping it with hands just wider than shoulder-width apart. 
     Press the bar directly overhead. Don't tilt your hips forward during the move.     
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
  <img class="card-img-top" src="./assets/Seated Dumbbell Shoulder Press1.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center">Seated Dumbbell Shoulder Press</h2>
    <p class="card-text">
     Sit on an upright bench holding a dumbbell in each hand at shoulder height with your palms facing away from you. 
     Keep your chest up and your core braced, and look straight forward throughout the move. 
     Press the weights directly upwards until your arms are straight and the weights touch above your head.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/FRONT RAISE1.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center">FRONT RAISE</h2>
    <p class="card-text">
     The front raise is a weight training exercise. This exercise is an isolation exercise which isolates shoulder flexion. 
     It primarily works the anterior deltoid, with assistance from the serratus anterior, 
     biceps brachii and clavicular portions of the pectoralis major.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
</div>

<!-- Second Row Details -->

<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
  <img class="card-img-top" src="./assets/Reverse Pec Deck Fly1.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Reverse Pec Deck Fly </h2>
    <p class="card-text">
     The reverse fly is a resistance exercise that targets the rear shoulders (deltoids) and major muscles of the upper back, including the trapezius. 
     The trapezius helps with a scapular retraction or pulling your shoulder blades in toward each other.      
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
  <img class="card-img-top" src="./assets/Bent-Over Dumbbell Lateral Raise1.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Bent-Over Dumbbell Lateral Raise </h2>
    <p class="card-text">
     Hinge at the hips and bend over until your torso is parallel to the floor, or close to that point, keeping your back straight. 
     Let the dumbbells hang down beneath your chest. 
     Raise the weights out to the sides until your arms are parallel with the ground, then slowly take them back down.
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/Dumbbell Lateral Raise1.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Dumbbell Lateral Raise </h2>
    <p class="card-text">
     The dumbbell lateral raise is a good exercise for building width in your upper body which gives you the "V" shape. 
     Grab a set of dumbbells and stand straight up with the dumbbells at your sides. Your palms should be facing your body. 
     To execute, slowly raise the dumbbells up to around shoulder height.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
</div>




<!-- Third Row Details -->

<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
  <img class="card-img-top" src="./assets/Standing Reverse Cable Crossover1.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Standing Reverse Cable Crossover </h2>
    <p class="card-text">
     The cable rear delt fly, also known as the reverse cable fly, is an exercise that increases deltoid muscle definition and strength. 
     This exercise engages a variety of upper body muscles while honing in on your rear (posterior) deltoids.
     
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
  <img class="card-img-top" src="./assets/One-Arm Cable Lateral Raise1.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> One-Arm Cable Lateral Raise </h2>
    <p class="card-text">
     With the outside arm, reach across your body, grab the handle and stand straight up with your arm fully extended and feet facing forward. 
     Grip the machine with your inside arm for added support. 
     Maintaining a slight bend in your working elbow, raise your arm up to shoulder height.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/BENT OVER CABLE LATERAL RAISE1.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> BENT OVER CABLE LATERAL RAISE </h2>
    <p class="card-text">
     Bend your knees slightly and place your left hand on your left thigh. 
     Let your right arm hang from your shoulder in front of you; your elbow should be slightly bent. 
     This is the starting position. 
     Lift your right arm, keeping your elbow slightly bent.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
</div>

<!-- Fourth Row Details -->

<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
  <img class="card-img-top" src="./assets/Standing Barbell Shrugs.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Standing Barbell Shrugs  </h2>
    <p class="card-text">
     Stand tall, holding a bar in an overhand grip with your hands just outside your thighs. 
     Lift your shoulders straight up, hold for one or two seconds in this elevated position, then lower them back to the start. 
     Throughout the exercise, make sure you keep your shoulders back and your spine and elbows straight.
     
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
      <span></span>
  <img class="card-img-top" src="./assets/Face Pull.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Face Pull </h2>
    <p class="card-text">
     Face pulls target the posterior deltoids of the shoulder, which are often neglected by other shoulder exercises. 
     You use a cable pulley machine to pull the weight straight toward your forehead. 
     You can use face pulls as part of an upper body strength training regimen.
    </p>
    <!-- <a href="#" class="btn btn-primary">See More </a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/Dumbbell Shrugs.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Dumbbell Shrugs </h2>
    <p class="card-text">
     Using a set of dumbbells instead of a barbell works each side of your body independently so you can even out any imbalances in your strength. 
     Hold a dumbbell in each hand by your waist with your palms facing each other. 
     Shrug your shoulders up, pause for a beat or two, then lower back to the start.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
</div>
</div>

 


