<!-- chest workout Information  --> 

<div class="container-fluid">

 <h1  class="display-3">Chest <span class="text-white">Day</span> </h1>

 
 
 <!-- First Row Details -->
<div class="row mt-5">
 <div class="col-sm-4">
  <div class="card" >
  <img class="card-img-top" src="./assets/Bench Press.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center">Bench Press</h2>
    <p class="card-text">The bench press is an upper-body weight training exercise in which the trainee presses a weight upwards while lying on a weight training bench. 
     The exercise uses the pectoralis major, the anterior deltoids, and the triceps, among other stabilizing muscles.
     
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
  <img class="card-img-top" src="./assets/Incline Press.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center">Incline Press</h2>
    <p class="card-text">The Incline Bench Press is a version of the traditional Bench Press in which the bench is positioned at about a 45-degree angle. 
     The resulting inclined position targets your upper chest and the frontside of your shoulders more the the standard flat bench
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/Decline Bench Press.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center">Decline Bench Press</h2>
    <p class="card-text">
     The decline bench press is an excellent exercise for strengthening your lower chest muscles. 
     In a decline bench press, the bench is set to 15 to 30 degrees on a decline. 
     This angle places your upper body on a downward slope, which activates the lower pectoral muscles as you push weights away from your body
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
</div>

<!-- Second Row Details -->

<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
  <img class="card-img-top" src="./assets/Flat Dumbbell Bench Press.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Flat Dumbbell Bench Press </h2>
    <p class="card-text">
     Start by holding the dumbbells slightly wider than shoulder width apart above your shoulders. Your palms should be facing forward.
Slowly bend your elbows until they are at a 90 degree angle and your upper arms are parallel to the ground.
Push the weights up by straightening your arms. 
     
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
  <img class="card-img-top" src="./assets/Incline Dumbbell Bench Press.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Incline Dumbbell Bench Press </h2>
    <p class="card-text">
     Sit on the bench and lean back. Brace your core and press both dumbbells straight up over your chest as you exhale.
     Reverse the movement and slowly lower the dumbbells back to the top of your chest as you inhale
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/Decline Dumbbell Bench Press.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Decline Dumbbell Bench Press </h2>
    <p class="card-text">
     Hold a dumbbell in each hand, shoulder-width apart and overhand grip. 
     Lie back on a decline bench and extend your arms straight above you. 
     Lower the weights slowly until they reach your chest, 
     then push the dumbbells back to starting position.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
</div>




<!-- Third Row Details -->

<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
  <img class="card-img-top" src="./assets/Flat Dumbbell Flyes.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Flat Dumbbell Flyes </h2>
    <p class="card-text">
     Lie with your head and shoulders supported by the bench and your feet flat on the floor. 
     Hold the dumbbells directly above your chest, palms facing each other, then lower the weights in an arc out to the sides as far as is comfortable. 
     Use your pectoral muscles to reverse the movement back to the start. 
     
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
  <img class="card-img-top" src="./assets/Incline Dumbbell Flyes1.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Incline Dumbbell Flyes </h2>
    <p class="card-text">
     Start with your back flat on an incline bench, which is lowered to 30 degrees.
     Start with your arms at chest level at your sides, elbows bent and pointing out.
     Slowly exhale and lift your arms above your chest.
     Inhale and slowly lower your arms to your sides to the starting position. 
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/decline flyes.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Decline Dumbbell Bench Press </h2>
    <p class="card-text">
     Slightly retract your shoulder blades, unlock your elbows, and slowly lower the dumbbells laterally while maintaining the angle at your elbow. 
     Once the dumbbells reach chest level, 
     reverse the movement by squeezing your pecs together and bringing the dumbbells back to their starting position.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
</div>

<!-- Fourth Row Details -->

<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
  <img class="card-img-top" src="./assets/Pec Dec Flyes.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Pec Dec Flyes   ||Butterfly|| </h2>
    <p class="card-text">
     The pec dec fly, also commonly known as the butterfly is designed to work on the pectoralis major and minor or in simpler words, the chest muscles. 
     It has weights that are controlled by leverage. It helps in expanding the chest, as the arms move in and out like the wings sof a butterfly. 
     
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
  <img class="card-img-top" src="./assets/Cable Crossover1.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Cable Crossover </h2>
    <p class="card-text">
     The standing cable fly is a single-joint move intended to maximize tension in a single muscle group. 
     As such, you want to feel the cable chest fly all the way from the stretch at the start of the move to the intense contraction at the end. 
     That's not possible with too much weight
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/Machine Press.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Machine Press </h2>
    <p class="card-text">
     Also known as a forming press, a machine press is a tool used in the manufacturing industry to deform a workpiece under high pressure. 
     The defining characteristic of all machine presses, however, is that they press a workpiece using high pressure to change the shape of a workpiece.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
</div>


</div>
 
