<!-- Ticep Workout Information -->

 <div class="container-fluid">

 <h1  class="display-3 text-warning"> Tricep <span class="text-white">Day</span> </h1>

 <!-- First Row Details -->
<div class="row">
 <div class="col-sm-4">
  <div class="card" >
  <img class="card-img-bottom" src="./assets/Close-Grip Barbell Bench Press.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Close-Grip Barbell Bench Press </h2>
    <p class="card-text">The bench press is an upper-body weight training exercise in which the trainee presses a weight upwards while lying on a weight training bench. 
     The exercise uses the pectoralis major, the anterior deltoids, and the triceps, among other stabilizing muscles.
     
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
  <img class="card-img-top" src="./assets/Diamond Pushup.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Diamond Pushup </h2>
    <p class="card-text">
     To perform the diamond pushup, get into pushup position with your hands close together so your index fingers and thumbs touch and form a diamond shape. 
     Keeping your abs braced and torso in line with your hips, 
     lower your body until your chest nearly touches the floor.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/Rope Tricep Pushdown.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center">Rope Tricep Pushdown</h2>
    <p class="card-text">
     The rope triceps pushdown exercise uses a rope to target the triceps muscle for better definition and bigger arms. 
     As you push down towards your thighs, split the rope apart at the bottom and isolate the tricep muscle.
      Hold this position for a count and return back up to the starting position.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
</div>

<!-- Second Row Details -->

<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
  <img class="card-img-top" src="./assets/Cable Rope Overhead Triceps Extension.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Cable Rope Overhead Triceps Extension </h2>
    <p class="card-text">
     This move, when done correctly, both stretches and strengthens the long head of the triceps, says Straub. Raise the cable up to the top with the double-handled rope attached. 
     Facing away from the machine, grab the rope and hinge at the waist, with arms bent, and hands behind your head. 
     Straighten your arms up alongside your ears, maintaining your torso angle. 
     Re-bend the arms with control to return to the start.  
     
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
  <img class="card-img-top" src="./assets/Skull Crusher.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Skull Crusher </h2>
    <p class="card-text">
     Lying triceps extensions, also known as skull crushers and French extensions or French presses, 
     Take the barbell with an overhand grip (palms away from body) and hold it out above the head so that the arms are supporting the weight. 
     Do not hold the arms straight over the face at 12 o'clock, but rather at an angle more like 10 o'clock, with feet at 3 o'clock. All of the weight should be on the triceps.
Now bend the arms at the elbow, bringing the bar down close to the top of the forehead.
Keep the elbows in the same position, do not let them sway outward.
Press back up to starting 10 o’clock position.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/Seated Dumbbell Extension.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Seated Dumbbell Extension  </h2>
    <p class="card-text">
     Sit on a bench and hold one dumbbell with both hands directly above your head. 
     Slowly flex your elbows and lower the weight behind your head as you keep your upper arms still. 
     Extend your arms and repeat
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
</div>




<!-- Third Row Details -->

<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
  <img class="card-img-top" src="./assets/dumbbell Skull Crusher.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> dumbbell Skull Crusher </h2>
    <p class="card-text">
     Dumbbell skull crushers, also known as the lying triceps extension, is an effective exercise for anyone attempting to build triceps strength and size. 
     The tricep is one of the most important muscles involved in upper body conditioning.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
  <img class="card-img-top" src="./assets/Kickbacks.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Kickbacks </h2>
    <p class="card-text">
      Grab a dumbbell with your right hand, place your left foot forward and your right foot back, 
      bend your left knee and lean your torso forward. 
      Raise your right elbow back, so that the upper arm is almost parallel to the floor, 
      and kick back until your arm is fully extended. 
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/Dumbbell Overhead Triceps Extension.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Dumbbell Overhead Triceps Extension </h2>
    <p class="card-text">
     Raise the dumbbells above your head until your arms are stretched out straight. 
     Slowly lower the weights back behind your head, being careful not to flare your elbows out too much. 
     Once your forearms move beyond parallel to the floor bring the weight back up to the starting position.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
</div>

<!-- Fourth Row Details -->

<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
  <img class="card-img-top" src="./assets/able Kickback1.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Cable Kickback </h2>
    <p class="card-text">
    Keeping your right leg firmly planted, extend your left leg backwards and upwards to hip height, 
    ensuring that your foot remains flexed and your toes point down towards the floor. Inhale. 
    Slowly lower your left leg to return to the starting position
     
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
  <img class="card-img-top" src="./assets/reverse-grip pressdown.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> reverse-grip pressdown </h2>
    <p class="card-text">
     The reverse-grip pressdown is an isolation, single-joint move, which isolates the triceps without the assistance of other muscle groups or joints. 
     You may have tried the rope pressdown in addition to the overhand version, but have neglected this underhand variation.
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/Bench Dips1.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Bench Dips </h2>
    <p class="card-text">
     Sit down on a bench, hands next to your thighs.
Walk your feet out and extend your legs, lifting your bottom off the bench and holding there with extended arms.
Hinging at the elbow, lower your body down as far as you can go, or until your arms form a 90-degree angle.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
</div>
