<div class="container-fluid">
 <h1  class="display-3">Abs<span class="text-white"> Workout </span> </h1>


<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="./assets/plank.gif" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Plank</h5>
        <p class="card-text">The plank (also called a front hold, hover, or abdominal bridge) is an isometric core strength exercise that involves maintaining a position similar to a push-up for the maximum possible time.</p>
      </div>
    
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/superman plank.gif" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Superman Plank</h5>
        <p class="card-text">While maintaining the plank position with the rest of your body, slowly lift and extend one arm and the opposite leg. Hold them in the raised position for five seconds (or less depending on how hard you're finding it), then return to the starting position. Repeat on the other side.</p>
      </div>
      
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/Dumbbell crunch.gif" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Dumbbell crunch</h5>
        <p class="card-text">Action EXHALE: Slowly curl head, shoulders, and upper body off the ground, reaching the dumbbell towards the ceiling. Special Instructions Use abdominals and hips (not your shoulders) to lift the weight. Keep abs contracted (pull navel towards spine) throughout entire movement.</p>
      </div>      
    </div>
  </div>
 </div>
 <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
  <div class="col">
    <div class="card h-100">
      <img src="./assets/Tuck and crunch.gif" class="card-img-top" alt="Tuck and crunch">
      <div class="card-body">
        <h5 class="card-title">Tuck and crunch</h5>
        <p class="card-text">Lie on your back with your arms folded across your chest. Bend your knees to 90 degrees and lift your legs so your thighs are parallel to the ground. Contract your abs to lift your shoulders off the ground, pause, then slowly lower.</p>
      </div>
    
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/Modified V-sit.gif" class="card-img-top" alt="Modified V-sit">
      <div class="card-body">
        <h5 class="card-title">Modified V-sit</h5>
        <p class="card-text">Instead of the legs being straight throughout the movement, the knees bend at a 90-degree angle and are brought towards the chest as you lift. When you release or lower the legs are straightened back to the starting position. Throughout the modified V-sit, your back and head alignment remain straight.</p>
      </div>
      
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/Crunch.gif" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"> Crunch</h5>
        <p class="card-text">an exercise in which you lie on your back on the floor with your knees bent and your feet flat on the floor, and then raise your head and shoulders: Doing crunches every day strengthens your abdominal muscles.</p>
      </div>      
    </div>
  </div>
 </div>

  <div class="row row-cols-1 row-cols-md-3 g-4 mt-4 ">
  <div class="col">
    <div class="card h-100">
      <img src="./assets/Hanging leg raise.gif" class="card-img-top" alt="Hanging leg raise">
      <div class="card-body">
        <h5 class="card-title">Hanging leg raise</h5>
        <p class="card-text">The hanging leg raise is an expert-level isolation exercise for hip flexors and the abdominal muscles. Hanging from a bar by your extended arms, you raise your legs parallel to the ground. It is a more intense version of the vertical leg raises in the ​captain's chair.</p>
      </div>
    
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/Hanging knee raise twist.gif" class="card-img-top" alt="Hanging knee raise twist">
      <div class="card-body">
        <h5 class="card-title">Hanging knee raise twist</h5>
        <p class="card-text">Grab a pull-up bar and lower yourself into a dead hang. Let your legs straighten and pull your pelvis back slightly. Tense your core and raise your legs across your body to the left until your thighs are perpendicular to your torso. Pause, then lower.</p>
      </div>
      
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/Hanging knee raise.gif" class="card-img-top" alt="Hanging knee raise">
      <div class="card-body">
        <h5 class="card-title"> Hanging knee raise</h5>
        <p class="card-text">The hanging knee raise is a core exercise that is done while hanging or being supported (in a Roman chair) so that the legs and torso hang freely underneath the lifter. In this position, the lifter pulls their knees to their chest using the abdominals, obliques, and hip flexors in a controlled fashion.</p>
      </div>      
    </div>
  </div>
 </div>

   <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
  <div class="col">
    <div class="card h-100">
      <img src="./assets/Seated Russian twist.gif" class="card-img-top" alt="Seated Russian twist">
      <div class="card-body">
        <h5 class="card-title">Seated Russian twist</h5>
        <p class="card-text">Sit with bent knees and your feet pressing firmly into the floor, holding your hands next to your chest. Sit back slightly, keeping your spine straight. Exhale as you twist to the left, punching your right arm over to the left side. Inhale back to center, and then do the opposite side..</p>
      </div>
    
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/Bicycle crunches.gif" class="card-img-top" alt="Hanging knee raise twist">
      <div class="card-body">
        <h5 class="card-title">Bicycle crunches</h5>
        <p class="card-text">The bicycle crunch is a no-equipment, beginner-level ab exercise that you can do at home, at the gym, and even on-the-go while traveling. It's done while lying on the ground on your back, and it involves twisting from side to side.</p>
      </div>
      
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/Leg Raise.gif" class="card-img-top" alt="Hanging knee raise">
      <div class="card-body">
        <h5 class="card-title"> Leg Raise </h5>
        <p class="card-text">Lie on your back, legs straight and together. Keep your legs straight and lift them all the way up to the ceiling until your butt comes off the floor. 3. Slowly lower your legs back down till they're just above the floor.</p>
      </div>      
    </div>
  </div>
 </div>

    <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
  <div class="col">
    <div class="card h-100">
      <img src="./assets/Hip Lift.gif" class="card-img-top" alt="Hip Lift">
      <div class="card-body">
        <h5 class="card-title">Hip Lift</h5>
        <p class="card-text">Place your arms by your sides, with palms face up or face down. Raise your legs so they are straight up toward the ceiling and perpendicular to your torso, with your knees aligned over your hips. You can have bent knees, but if you straighten the knees you will also stretch the hamstrings during this exercise.</p>
      </div>
    
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/Side Planks.gif" class="card-img-top" alt="Side Planks">
      <div class="card-body">
        <h5 class="card-title">Side Planks</h5>
        <p class="card-text">Start in a high plank position, but with your glutes slightly higher than they would be in that position. Wrists are under shoulders and your neck is neutral. Drive your left knee forward toward your right elbow, keeping the rest of your body stationary. Return to start, then repeat with the right leg.</p>
      </div>
      
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/Plank Pike.gif" class="card-img-top" alt="Plank Pike">
      <div class="card-body">
        <h5 class="card-title"> Plank Pike </h5>
        <p class="card-text">Plank pike is an effective exercise that develops core stability and strength while increasing stability and mobility throughout the spine and hip region. The plank pike is an effective exercise that develops core stability and strength while increasing stability and mobility throughout the spine and hip region.</p>
      </div>      
    </div>
  </div>
 </div>

     <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
  <div class="col">
    <div class="card h-100">
      <img src="./assets/crossover crunch.gif" class="card-img-top" alt="crossover crunch">
      <div class="card-body">
        <h5 class="card-title">crossover crunch</h5>
        <p class="card-text">The crossover crunch is a fantastic beginner ab exercise that works more than your abdominal muscles—it also targets your external obliques and internal obliques, helping you feel more "pulled in" at the waist.</p>
      </div>
    
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/Reverse Crunch.gif" class="card-img-top" alt="Reverse Crunch">
      <div class="card-body">
        <h5 class="card-title">Reverse Crunch</h5>
        <p class="card-text">The reverse crunch is an intermediate level variation of the popular abdominal crunch exercise. Your upper body remains on the mat as you contract your abs to draw your legs towards your chest. It exercises the full length of the rectus abdominis muscle (the six-pack muscle), getting to the deep lower abs.</p>
      </div>
      
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/Vertical Leg Crunch.gif" class="card-img-top" alt="Plank Pike">
      <div class="card-body">
        <h5 class="card-title"> Vertical Leg Crunch</h5>
        <p class="card-text">The vertical leg crunch is a great core exercise. It is similar to the basic crunch, except that the legs are perpendicular to the floor. ... It can help your reach your goal of flatter and more attractive abs and a strong core. You can use this exercise as part of a core workout or a total body workout.</p>
      </div>      
    </div>
  </div>
 </div>


      <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
  <div class="col">
    <div class="card h-100">
      <img src="./assets/Toe Touch Crunch.gif" class="card-img-top" alt="crossover crunch">
      <div class="card-body">
        <h5 class="card-title">Toe Touch Crunch</h5>
        <p class="card-text">Swing your arms toward the ceiling; as you do, lift your head and shoulder off the ground and touch your toes, while lifting your pelvis slightly off ground so your toes move toward your fingers. If your neck tires, place one hand behind your head.</p>
      </div>
    
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/Oblique Leg Crunch.gif" class="card-img-top" alt="Oblique Leg Crunch">
      <div class="card-body">
        <h5 class="card-title">Oblique Leg Crunch</h5>
        <p class="card-text">A Side Oblique Leg Crunch is an abdominal exercise that focuses primarily on the oblique muscles while also working your legs. This is an intermediate to advanced move that will engage the entire core with each crunch. You can practice this exercise anywhere you can bring your mat!</p>
      </div>
      
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/Hundreds.gif" class="card-img-top" alt="hundreds">
      <div class="card-body">
        <h5 class="card-title"> hundreds </h5>
        <p class="card-text">Lift the head and shoulders off the mat reaching the arms out until they are level with your shoulders. Simultaneously extend your legs. Pulse the arms while exhaling for 5 counts, then inhaling for 5 counts. Keep repeating this sequence for a total of 10 sets (total of 100 counts).</p>
      </div>      
    </div>
  </div>
 </div>

    <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
  <div class="col">
    <div class="card h-100">
      <img src="./assets/scissorr.gif" class="card-img-top" alt="crossover crunch">
      <div class="card-body">
        <h5 class="card-title">scissor</h5>
        <p class="card-text">It's an ab-focused move that involves lying on your back, raising both legs off of the ground, then criss-crossing one over the other in a scissors-like motion without letting them drop (yes, it burns). Since your legs are moving throughout the exercise, it doubles as a lower body strengthening move, too.</p>
      </div>
    
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/hollow hold.gif" class="card-img-top" alt="hollow hold">
      <div class="card-body">
        <h5 class="card-title">hollow hold</h5>
        <p class="card-text">The hollow hold is an isometric bodyweight exercise with variations that are used in every aspect of training; from rehabilitation up through power and athleticism. This motion develops a tight and stable core in which power and energy can be transferred throughout the entire body without interruption.</p>
      </div>
      
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/sitting punches.gif" class="card-img-top" alt="sitting punches">
      <div class="card-body">
        <h5 class="card-title"> Sitting Punches </h5>
        <p class="card-text">Lay down on the floor in a relaxed position with your knees up and palms lightly on either side of your head. Step-2. Brae your cors and slowly raise your upper body just enough to feel a strain on your abs.</p>
      </div>      
    </div>
  </div>
 </div>

     <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
  <div class="col">
    <div class="card h-100">
      <img src="./assets/side jack knives.gif" class="card-img-top" alt="side jack knives">
      <div class="card-body">
        <h5 class="card-title">side jack knives</h5>
        <p class="card-text">Lie on your side with your right leg on top of your left. Put your right hand behind your head, elbow flared out, and the other on the floor in front of you for balance. Contract your obliques to bring your right leg and elbow together, then slowly lower.</p>
      </div>
    
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/v up.gif" class="card-img-top" alt="hollow hold">
      <div class="card-body">
        <h5 class="card-title">V ups</h5>
        <p class="card-text">Lie on a mat with your legs fully extended and your arms extended over your head. ... Raise both legs and your torso simultaneously and reach toward your feet. 3. Return to the starting position and repeat until set is complete.</p>
      </div>
      
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/dead bug.gif" class="card-img-top" alt="dead bug">
      <div class="card-body">
        <h5 class="card-title"> dead bug </h5>
        <p class="card-text">The dead bug exercise involves lying face up on your mat with your arms in the air above your torso and your legs in the air with your knees bent at 90-degree angles. Then, you lower opposite arm and leg toward the floor in a slow and controlled fashion. Return to center and then repeat on the other side.</p>
      </div>      
    </div>
  </div>
 </div>


      <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
  <div class="col">
    <div class="card h-100">
      <img src="./assets/side jack knives.gif" class="card-img-top" alt="side jack knives">
      <div class="card-body">
        <h5 class="card-title">side jack knives</h5>
        <p class="card-text">Lie on your side with your right leg on top of your left. Put your right hand behind your head, elbow flared out, and the other on the floor in front of you for balance. Contract your obliques to bring your right leg and elbow together, then slowly lower.</p>
      </div>
    
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/bear crunches.gif" class="card-img-top" alt="hollow hold">
      <div class="card-body">
        <h5 class="card-title">Bear Crunch </h5>
        <p class="card-text">Here's how to do it: Start on all fours, and raise your knees one inch off the ground. ... Do 10 reps of the bear crunch and10 reps of the crab hip hold, resting 30 seconds after each set. Repeat the circuit two to three times.</p>
      </div>
      
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/plank crunch.gif" class="card-img-top" alt="plank crunch">
      <div class="card-body">
        <h5 class="card-title"> plank crunch </h5>
        <p class="card-text">Start in a plank position, making sure your body is in a straight line and your hands are directly beneath your shoulders. Step 2 Bend one leg and bring the knee toward your shoulder on the same side, crunching your obliques as you do so. Keep the upper body stationary throughout the movement.</p>
      </div>      
    </div>
  </div>
 </div>

       <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
  <div class="col">
    <div class="card h-100">
      <img src="./assets/V with rotations.gif" class="card-img-top" alt="V with rotations">
      <div class="card-body">
        <h5 class="card-title">V with rotations</h5>
        <p class="card-text">Contract your abdominal muscles and core slowly and lift your legs up to an extended position at a 45-degree angle with your torso. Reach your arms straight forward or reach up toward your shins as you are able. ... Return to your starting position slowly while continuing to keep your abs engaged and tight.</p>
      </div>
    
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/half wipers.gif" class="card-img-top" alt="half wipers">
      <div class="card-body">
        <h5 class="card-title">half wipers </h5>
        <p class="card-text">Lie flat on your back,arms straight out at the sides. Keeps your legs straight and rotate your hips to either side.</p>
      </div>
      
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/WINDSHIELD WIPERS.gif" class="card-img-top" alt="WINDSHIELD WIPERS">
      <div class="card-body">
        <h5 class="card-title"> WINDSHIELD WIPERS </h5>
        <p class="card-text">Lift your legs and bend the knees at a 90-degree angle. Rotate the hips to one side, without letting the legs touch the floor. ... Rotate the hips to the opposite side and repeat until set is complete.</p>
      </div>      
    </div>
  </div>
 </div>

 <div class="row row-cols-1 row-cols-md-3 g-4 mt-4 mb-4">
  <div class="col">
    <div class="card h-100">
      <img src="./assets/plank rolls.gif" class="card-img-top" alt="plank rolls">
      <div class="card-body">
        <h5 class="card-title">plank rolls</h5>
        <p class="card-text">The rolling—or side-to-side—plank involves switching between a left and right side plank with a brief forearm plank in between (whew). ... Then roll into one side plank with your top arm raised straight into the air, feet stacked on top of each other (or staggered for better balance) and your hips raised up</p>
      </div>
    
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/Climber taps.gif" class="card-img-top" alt="half wipers">
      <div class="card-body">
        <h5 class="card-title"> Climber taps </h5>
        <p class="card-text">Climber taps are mainly a balance exercise that works your core and muscle groups that aid stability. It's a speed exercise so the faster you can do it the better you get at it and the more it works for you. What's involved: Shoulders, abs, lower abs, front hip flexors, core, adductors.</p>
      </div>
      
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/Mountain Climber.gif" class="card-img-top" alt="WINDSHIELD WIPERS">
      <div class="card-body">
        <h5 class="card-title"> Mountain Climber </h5>
        <p class="card-text">The Mountain Climber is a bodyweight exercise that serve as a great full-body workout. This plyometric plank movement does it all: increases core strength, defines the shoulders, chest and upper back, works the quads and glutes all while raising the heart rate.</p>
      </div>      
    </div>
  </div>
 </div>
</div>
 