*
{
  margin:0;
  padding:0;
  max-width: 100%;  
  box-sizing: border-box;
 

}
body
{
  background-color: grey;
  /* background-color: rgba(65, 65, 64, 0.8); */
  width: 100%; 
}
.row
{
  margin:15px;
  overflow: hidden;
}
.col-md-6
{
  
  width:100%;
  height:100%;
  
}

@font-face {
  font-family: 'Alien Resurrection';
  src: url(../../fonts/Alien Resurrection.ttf);
  font-style: normal;
  font-weight: 400;
}

.col-md-6 h2
{
  position: relative;
  top:5px;
  width: 100%;    
   text-shadow: 3px 3px 2px #000000;   
   color: rgb(253, 188, 9);
   font-size: 6vh;
  font-family: 'Alien Resurrection';

}
.col-md-6 img
{
  max-width:100%;
  width:250px;
  height: 250px;
  margin:20px;
  box-shadow: 2px 2px 3px 2px rgb(0, 0, 0);

}
.col-md-6 img:hover
{
  transform: translateX(-15px);
}
.col-md-6 p
{
width:100%;
margin: 40px 0px 20px 0px;
padding: 10px;
background-color: rgb(86, 6, 88);
text-align: justify;
border: 5px solid rgb(202, 125, 238);
border-top-right-radius: 30px;
border-bottom-right-radius: 30px;
color: whitesmoke;
font-size:3vh;
overflow: hidden;
text-indent: 30%;
box-shadow: 2px 3px 3px 3px rgb(0, 0, 0);
}
.col-md-6 p:hover
{
  transform: translateY(-15px);
}
.row
{
  border:2px solid black;
  box-shadow: 3px 3px 2px 2px rgb(28, 3, 29);
 
}
#pushup,
#pullup,
#dip,
#run,
#walk
{
  border:5px solid rgb(202, 125, 238);
  margin-top:75px;
 
}
#skip,#sprint
{  
  border:5px solid #e056fd;
  margin-top:100px;
  margin-bottom:100px;  
}


@media (max-width:700px) {

.col-md-6 h2 {
  margin:0px;
  padding:0px;
  position: relative;
  top: 10px;  
  font-size: 4vh;
  

}

.col-md-6 p {
  
  padding: 6px;  
  font-size: 2.5vh;  
  margin: 20px 5px;
}
.col-md-6 img 
{    
  width: 200px;
  height: 200px; 
}
#pushup,
#pullup,
#dip,
#run,
#walk {
  position: relative;
  top: 0px;
  left:40px;
  margin-top:20px;
  
}

#skip,
#sprint {

  border: 5px solid #e056fd;
  position: relative; 
  top:-80px;
  left:30px;
  margin-bottom:-15px
  
}

}


