<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body> 
  
   <!-- pushup workout information  -->
<div class="row">  
    
   <div class="col-md-6">    
    <img  id="pushup" src="./assets/pushup.gif" alt="" class="rounded-circle" >
   </div>
   <div class="col-md-6">
     <h2 class="text-warning">Push-ups</h2>
    <p > 
      A push-up (or press-up) is a common calisthenics exercise beginning from the prone position.
      By raising and lowering the body using the arms, push-ups exercise the pectoral muscles, triceps, 
      and anterior deltoids. According to the study published in Journal of Strength and Conditioning Research, 
      the test subjects supported with their hands, on average, 69.16% of their body mass in the up position, 
      and 75.04% in the down position during the traditional push-ups. In modified push-ups, where knees are used as the pivot point, 
      subjects supported 53.56% and 61.80% of their body mass in up and down positions. While the push-up primarily targets the muscles of the chest, 
      arms, and shoulders, support required from other muscles results in a wider range of muscles integrated into the exercise</p>
   </div>    
  </div> 
<hr>
  <!-- Pullup workout information -->
 <div class="row">
      <div class="col-md-6"> 
        <img id="pullup" src="./assets/pullups.gif" alt="" class="rounded-circle">
      </div>
   <div class="col-md-6"> 
     <h2 class="text-warning"> Pull-ups </h2>
    <p > 
     A pull-up is an upper-body strength exercise. The pull-up is a closed-chain movement where the body is suspended by the hands and pulls up. 
     As this happens, the elbows flex and the shoulders adduct and extend to bring the elbows to the torso.
     The term chin-up, traditionally referring to a pull-up with the chin brought over the top of a bar, was used in the 1980s to refer to a pronated, or overhand, grip, with a supinated, or underhand, grip being called a "reverse-grip" chin-up. 
     In later decades, this usage has inverted, with some using "chin-up" to refer to a pull-up done with a supinated hand position, while "pull-up" refers specifically to the exercise done with a pronated hand position.
    </p>
   </div></div> 
   
<hr>
  <!-- Dips workout information -->

  <div class="row">
   <div class="col-md-6">
    <img id="dip" src="./assets/dips1.gif" alt="" class="rounded-circle">
   </div>
   <div class="col-md-6">
<h2 class="text-warning"> Dips </h2>
    <p > 
     A dip is an upper-body strength exercise. Narrow, shoulder-width dips primarily train the triceps, 
     with major synergists being the anterior deltoid, the pectoralis muscles (sternal, clavicular, and minor), 
     and the rhomboid muscles of the back (in that order). Wide arm training places additional emphasis on the pectoral muscles, 
     similar in respect to the way a wide grip bench press would focus more on the pectorals and less on the triceps.
     To perform a dip, the exerciser supports themselves on a dip bar or from a set of rings with their arms straight down and shoulders over their hands, 
     then lowers their body until their arms are bent to a 90 degree angle at the elbows, and then lifts their body up, returning to the starting position
    </p>
   </div>
  </div>
<hr>
<!-- running information -->

  <div class="row">
     <div class="col-md-6">
     <img id="run" src="./assets/running.gif" alt="" class="rounded-circle">
    </div>
    <div class="col-md-6">   
     <h2 class="text-warning">Running</h2> 
     <p > 
      Running in humans is associated with improved health and life expectancy.
      there are many benefits. Some of these benefits include potential weight loss, improved cardiovascular and respiratory health (reducing the risk of cardiovascular and respiratory diseases), 
      improved cardiovascular fitness, reduced total blood cholesterol, strengthening of bones (and potentially increased bone density), possible strengthening of the immune system and an improved self-esteem and emotional state. 
      Running, like all forms of regular exercise, can effectively slow or reverse the effects of aging. Even people who have already experienced a heart attack are 20% less likely to develop serious heart problems if more engaged in running or any type of aerobic activity.
      Although an optimal amount of vigorous aerobic exercise such as running might bring benefits related to lower cardiovascular disease and life extension, an excessive dose (e.g., marathons) might have an opposite effect associated with cardiotoxicity
     </p>
    </div>
   
  </div>
<hr>
  <!-- Skipping Information  -->
  
   <div class="row">
   <div class="col-md-6">
     <img id="skip" src="./assets/skip.gif" alt="" class="rounded-circle">
   </div>
   <div class="col-md-6">
    <h2 class="text-warning">Skipping</h2>
   <p>  
    Skipping may be used as a cardiovascular workout, similar to jogging or bicycle riding, and has a high MET or intensity level. 
    This aerobic exercise can achieve a "burn rate" of up to 700 to over 1200 calories per hour of vigorous activity, with about 0.1 to nearly 1.1 calories consumed per jump mainly depending upon the speed and intensity of jumps and leg foldings. 
    Ten minutes of skipping is roughly the equivalent of running an eight-minute mile. Skipping for 15–20 minutes is enough to burn off the calories from a candy bar and is equivalent to 45–60 minutes of running depending upon the intensity of jumps and leg swings. 
    Many professional trainers, fitness experts and professional fighters greatly recommend skipping for burning fat over any other alternative exercises like running and jogging. 
    Weighted skipping ropes are available for such athletes to increase the difficulty and effectiveness of such exercise. Individuals or groups can participate in the exercise, and learning proper techniques is relatively simple compared to many other athletic activities. 
    The exercise is also appropriate for a wide range of ages and fitness levels. Improves heart health. Skipping rope is the best cardio exercise as it increases the heart rate. Increases concentration.
Improves coordination. Increases stamina and gets rid of fatigue. Increases body flexibility. Boost mental health.
Decreases belly fat. Strengthening your bones.
   </p>  
   </div>
  </div> 
<hr>
  <!-- Elliptical Information -->

  <div class="row">

     <div class="col-md-6">
    <img id="walk" src="./assets/walking1.gif" alt="" class="rounded-circle">
   </div>
   <div class="col-md-6">
     <h2 class="text-warning"> Walking </h2>
    <p > 
     Walking is a great way to improve or maintain your overall health. Just 30 minutes every day can increase cardiovascular fitness, strengthen bones, reduce excess body fat, and boost muscle power and endurance.
     Regular, brisk exercise of any kind can improve confidence, stamina, energy, weight control and life expectancy and reduces stress. It can also decrease the risk of coronary heart disease, strokes, diabetes, 
     high blood pressure, bowel cancer and osteoporosis. Scientific studies have also shown that walking, besides its physical benefits, is also beneficial for the mind, improving memory skills, learning ability, 
     concentration and abstract reasoning, as well as ameliorating spirits. Sustained walking sessions for a minimum period of thirty to sixty minutes a day, five days a week, with the correct walking posture, 
     reduce health risks and have various overall health benefits, such as reducing the chances of cancer, type 2 diabetes, heart disease, anxiety disorder and depression. Life expectancy is also increased even 
     for individuals suffering from obesity or high blood pressure. Walking also improves bone health, especially strengthening the hip bone. 

    </p>
   </div>
  
  </div>
<hr>
<div class="row">

     <div class="col-md-6">
    <img id="walk" src="./assets/elliptical.gif" alt="" class="rounded-circle">
   </div>
   <div class="col-md-6">
     <h2 class="text-warning"> Elliptical  </h2>
    <p > 
     The elliptical machine allows you to get a good aerobic workout, 
     which can strengthen your heart, lungs, and muscles. can help build your stamina and endurance. 
     With an elliptical, you can perform both high-intensity interval training as well as steady-state cardio workouts.
     These machines were originally designed to minimize impact on the knees and hips, but still allow a great workout. 
     “Because the impact is quite low, the calorie-burning effect isn’t as great as other cardio machines, like treadmills and stairmasters,” 
     explains Roger Adams, Ph.D., an expert in nutrition and weight loss. “However, the elliptical machine can be an excellent way to burn calories without wearing out your joints.”
      While the average 180-lb. man may only burn close to 500-600 calories per hour if he’s going at an above moderate pace, you can get even more out of it by switching up the intensity, speed, and resistance.
      Boost your stamina and cardio capacity. Burn a lot of calories.
Put less stress on your joints. Get both an upper and lower body workout.
Burn body fat. Target specific leg muscles. Improve your balance.

    </p>
   </div>  
  </div>
<hr>
  <div class="row">

     <div class="col-md-6">
    <img id="walk" src="./assets/stairmasters.gif" alt="" class="rounded-circle">
   </div>
   <div class="col-sm-6">
     <h2 class="text-warning"> stairmaster  </h2>
    <p > 
      StairMaster is a stationary fitness machine that rotates steps, similar to a treadmill, allowing the user to climb upward at the speed and duration he or she sets. It can provide an above-average cardio workout, while also toning lower-body muscles
     A stair climber offers another popular way to burn fat and calories, but only about 500-600 calories for an 180-lb. man at a moderate pace. “Because of the higher leg lift involved, climbing stairs uses significantly more muscles than just walking—strengthening your legs in a functional way,”. The primary drawback: Stair climbers can put a lot of weight and pressure on your joints, so it can be difficult for people with bad knees.

    The best way to burn fat on a stair climber: “Try incorporating 90% or more effort on the stair climber for 30 seconds with a one- to two-minute ‘active recovery,’ like a farmer carry with medium-weight kettlebells or dumbbells to incorporate upper body and core strength,”. “Doing 10-15 rounds of this workout will spice up your workout way above the normal range of calories burned.”

    </p>
   </div>
  
  </div>
<hr>

    <div class="row">

     <div class="col-md-6">
    <img id="walk" src="./assets/Kettlebellss.gif" alt="" class="rounded-circle">
   </div>
   <div class="col-md-6">
    <h2 class="text-warning"> Kettlebells  </h2>
    <p > 
      Kettlebell exercises can increase heart rate just as much as a typical cardio session. On top of that, the load of the kettlebell adds to the exercise. Suddenly you have a cardio exercise that increases strength. The kettlebell is like a dumbbell.
      While a kettlebell workout isn’t technically a cardio-only exercise, 
      its calorie-burning effects are too high to keep off this list. 
      “Kettlebell workouts combine the best of both worlds: strength training and cardio,”. 
      “In addition, a recent study on the calorie-burning effects of this type of workout puts it at around 20 calories per minute.” 
      This total takes into account not only the aerobic calorie expenditure, but also the anaerobic calories burned. Very few cardio exercises build muscle—this is one of the exceptions. 
      You can expect to burn around 400-600 calories in just 30 minutes

    </p>
   </div>  
  </div>
<hr>
      <div class="row">

     <div class="col-md-6">
    <img id="walk" src="./assets/Cycling.gif" alt="" class="rounded-circle">
   </div>
   <div class="col-md-6">
     <h2 class="text-warning"> Cycling  </h2>
    <p > 
    Cycling is mainly an aerobic activity, which means that your heart, blood vessels and lungs all get a workout. You will breathe deeper, perspire and experience increased body temperature, which will improve your overall fitness level. The health benefits of regular cycling include: increased cardiovascular fitness.
    Stationary bikes are a mainstay at most gyms, but there’s a reason most people aren’t waiting in line to use them: “You must be willing to go at an intense rate,” so no pedaling while scrolling through your smartphone. “During a vigorous indoor cycling or spin class, the average 180-lb. man may burn close to 1,150 calories per hour, while a more moderate ride will only burn half that amount at about 675 calories per hour.”
      Doing intervals on a stationary bike is a great way to maximize your calorie burn in minimum time. “Keep the intensity really high on the intervals for a couple of minutes, then slow down for a minute or so, continually repeating these intervals for as long as you can,”
    </p>
   </div>  
  </div>
<hr>
  
      <div class="row">

     <div class="col-md-6">
    <img id="walk" src="./assets/Swimming.gif" alt="" class="rounded-circle">
   </div>
   <div class="col-md-6">
     <span><h2 class="text-warning"> Swimming  </h2></span>
    <p > 

    Swimming is a total-body workout that starts the second you begin treading water. “You’re essentially fighting gravity, so your muscles are working extra hard to keep you afloat without getting a break until you’re out of the water,”. “In fact, with just one minute of fast swimming, you’ll burn 14 calories.”
    Remember that the type of stroke makes a difference, “A breast stroke burns fewer calories than the butterfly, so be sure to incorporate different strokes in your training.”
    An easy way to burn calories in the water is to simply tread water. You can do a few laps, then have a water-treading interval, then repeat. “If you’re able to swim at a high level, then swim as fast as you can for as long as possible,”. “If you aren’t such a strong swimmer, Swim as fast as you can down the length of the pool and back, then swim slower for the same distance.” 
    Alternate these intervals for the duration of your workout.
    </p>
   </div>
  
  </div>
<hr>

  <div class="row">

     <div class="col-md-6">
    <img id="sprint" src="./assets/Sprinting.gif" alt="" class="rounded-circle">
   </div>
   <div class="col-md-6">
     <span><h2 class="text-warning"> Sprinting  </h2></span>
<p>

Sprinting is running over a short distance at the top-most speed of the body in a limited period of time. It is used in many sports that incorporate running, typically as a way of quickly reaching a target or goal, or avoiding or catching an opponent.
Sprints outside, on a treadmill, or even up stairs or bleachers are great to burn the most calories in the least amount of time. No equipment is really necessary and you can do these workouts just about anywhere. “Sprinting is simple, and it burns huge amounts of calories—when looking to shed weight, it tops the list,”. “While steady-state running or jogging burns plenty of calories, increasing your speed and intensity will really pay off.”

The best part? Sprinting leaves no muscle unscathed. “If your destination is Six Pack City, then go full-steam ahead with your sprints.”
If you’re outside on a track, try sprinting a lap and then jog a lap. Keep repeating this for as long as you can. If you’re on a treadmill, do an all-out sprint for 20-30 seconds, then slow the belt down and jog for a minute or so before repeating. At a stadium or flights of stairs? Run up to the top as fast as you can, then jog or walk down. “It’s never a good idea to run down stairs or bleachers, so use the downward portion for your active rest periods,”. “Really lift those knees high to get your glutes some great action and build sprinter power in no time.”
</p>
    
   </div>
  
  </div>
<hr>

  <div class="row">

     <div class="col-md-6">
    <img src="./assets/highknees.gif" alt="" class="rounded-circle">
   </div>
   <div class="col-md-6">
    <h2 class="text-warning"> High Knees  </h2>
<p>
Stand with your feet hip-width apart. Lift up your left knee to your chest.
Switch to lift your right knee to your chest. Continue the movement, alternating legs and moving at a sprinting or running pace.

</p>
    
   </div>
  
  </div>
  <hr>

  <div class="row">

     <div class="col-md-6">
    <img src="./assets/buttkicks.gif" alt="Butt kicks" class="rounded-circle">
   </div>
   <div class="col-md-6">
     <h2 class="text-warning"> Butt kicks</h2>
<p>
Begin by standing with your feet about hip-distance apart, with your arms at your side.
Slowly bring your right heel to your buttocks by contracting your hamstring muscle.
Place the ball of your right foot back on the ground, and slowly bring your left heel to your buttocks.

</p>
    
   </div>
  
  </div>
  <hr>

   <div class="row">

     <div class="col-md-6">
    <img src="./assets/Lateral shuffles.gif" alt="Butt kicks" class="rounded-circle">
   </div>
   <div class="col-md-6">
     <h2 class="text-warning"> Lateral shuffles</h2>
<p>
Start standing with feet hip distance apart and sink into a deep knee bend. Bring both hands in front of the chest in guard position.
Start with right foot moving right and left foot following. Shuffle right for four right-left steps, then move left for four left-right steps.

</p>
    
   </div>
  
  </div>
  <hr>

     <div class="row">

     <div class="col-md-6">
    <img src="./assets/Crab walk.gif" alt="Butt kicks" class="rounded-circle">
   </div>
   <div class="col-md-6">
     <h2 class="text-warning"> Crab walk </h2>
<p>
Start by sitting on the floor with your feet out in front of you, hip-width apart. Plant your palms behind you and push up onto your hands and feet so your hips are raised. Then walk back and forth for a minute – you'll be surprised how tough it is to keep scuttling.

</p>
    
   </div>
  
  </div>
  <hr>


   <div class="row">

     <div class="col-md-6">
    <img src="./assets/Standing oblique crunch.gif" alt="Butt kicks" class="rounded-circle">
   </div>
   <div class="col-md-6">
     <h2 class="text-warning"> Standing oblique crunch </h2>
<p>
Stand with your feet shoulder-width apart. Place your hands on the back of your head, elbows pointing outward.
Bend to the right, moving your right elbow down and right knee up.
Return to starting position. Repeat on the left side.

</p>
    
   </div>
  
  </div>
  <hr>

     <div class="row">

     <div class="col-md-6">
    <img src="./assets/Speed skaters.gif" alt="Speed skaters" class="rounded-circle">
   </div>
   <div class="col-md-6">
     <h2 class="text-warning"> Speed skaters </h2>
<p>
As you do, sweep your left leg behind you while bringing your left arm across your body. Then, step to the left, bringing your right leg behind you and your right arm across your body. Continue alternating sides, building up speed, for 20-40 seconds, depending on your fitness level.

</p>
    
   </div>
  
  </div>
  <hr>

       <div class="row">

     <div class="col-md-6">
    <img src="./assets/Jumping jacks.gif" alt="Jumping jacks" class="rounded-circle">
   </div>
   <div class="col-md-6">
     <h2 class="text-warning"> Jumping jacks </h2>
<p>
Jumping jacks are an efficient total-body workout that you can do almost anywhere. 
This exercise is part of what's called plyometrics, or jump training. Plyometrics is a combination of aerobic exercise and resistance work. This type of exercise works your heart, lungs, and muscles at the same time.

</p>
    
   </div>  
  </div>
  <hr>
       <div class="row">

     <div class="col-md-6">
    <img src="./assets/Toe taps.gif" alt="Toe taps" class="rounded-circle">
   </div>
   <div class="col-md-6">
     <h2 class="text-warning"> Toe taps</h2>
<p>
Toe taps are a popular exercise in many workout plans. Toe taps might mean the move you perform during a Pilates sequence or as part of an abdominal workout. One thing that all these toe taps share is that you use core muscles to complete the movement.
</p>
    
   </div>  
  </div>
  <hr>

       <div class="row">

     <div class="col-md-6">
    <img src="./assets/Squat jumps.gif" alt="Squat jumps" class="rounded-circle">
   </div>
   <div class="col-md-6">
     <h2 class="text-warning"> Squat jumps</h2>
<p>
Stand with your feet shoulder-width apart.
Start by doing a regular squat, engage your core, and jump up explosively.
When you land, lower your body back into the squat position to complete one rep. Make sure you land with your entire foot on the ground. ...
Do two to three sets of 10 reps.
</p>
    
   </div>  
  </div>
  <hr>

  <div class="row">

     <div class="col-md-6">
    <img src="./assets/Standing alternating toe touches.gif" alt="Standing alternating toe touches" class="rounded-circle">
   </div>
   <div class="col-md-6">
     <h2 class="text-warning"> Standing alternate toe touches</h2>
<p>
Stand with your feet shoulder-width apart and arms at your sides. Brace your core.
Lift your right leg straight up. Simultaneously raise your left hand up and over, reaching toward your right toes.
Repeat with your left leg and right hand.
</p>
    
   </div>  
  </div>
  <hr>

    <div class="row">

     <div class="col-md-6">
    <img src="./assets/Lunge jumps.gif" alt="Standing alternating toe touches" class="rounded-circle">
   </div>
   <div class="col-md-6">
     <h2 class="text-warning"> Lunge jumps </h2>
<p>
Jump your left leg forward and your right leg back into a lunge, with both knees at 90 degrees. 
Jump up and switch your legs in midair so that you land in a lunge with your right leg in front. Continue jumping back and forth, pausing as little as possible.
</p>
    
   </div>  
  </div>
  <hr>

    <div class="row">

     <div class="col-md-6">
    <img src="./assets/box jump.gif" alt="Box jumps" class="rounded-circle">
   </div>
   <div class="col-md-6">
     <h2 class="text-warning"> Box jumps</h2>
<p>
A box jump is a plyometric exercise where essentially an athlete starts facing a box 30-50cm away from it. He then jumps explosively onto said box, which is usually between 50 to 70cm in height.
</p>
    
   </div>  
  </div>
  <hr>

    <div class="row">

     <div class="col-md-6">
    <img src="./assets/Plank jacks.gif" alt="plank jacks" class="rounded-circle">
   </div>
   <div class="col-md-6">
     <h2 class="text-warning"> Plank jacks </h2>
<p>
Plank jacks are a combined cardio and core-strengthening exercise. 
They can help you strengthen the muscles of both the upper and lower body. Adding plank jacks to your exercise routine a few times a week may also increase core strength and stability, burn calories, and help reduce fat.
</p>
    
   </div>  
  </div>
  <hr>

     <div class="row">
     <div class="col-md-6">
    <img src="./assets/Plank ski hops.gif" alt="Plank ski hops" class="rounded-circle">
   </div>
   <div class="col-md-6">
     <h2 class="text-warning"> Plank ski hops </h2>
<p>
To do Plank Skier Hops, start in the plank position with your hands under your shoulders and your legs together. Your body should be in a nice straight line from your head to your heels. Then, with your legs together, jump your feet in toward your right elbow, rotating so that your knees come outside your elbow.
</p>   
   </div>  
  </div>
  <hr>

       <div class="row">
     <div class="col-md-6">
    <img src="./assets/Diagonal jumps.gif" alt="Diagonal jumps" class="rounded-circle">
   </div>
   <div class="col-md-6">
     <h2 class="text-warning"> Diagonal jumps </h2>
<p>
Stand with both feet together in one of two lower sections of quadrant. Jump forward into upper quadrant then immediately jump diagonally back. Immediately jump forward to other upper quadrant, then diagonally back to starting square. Immediately repeat diagonally crossing pattern sequence.
</p>   
   </div>  
  </div>
  <hr>
      <div class="row">
     <div class="col-md-6">
    <img src="./assets/Rotational jacks.gif" alt="Rotational jacks" class="rounded-circle">
   </div>
   <div class="col-md-6">
     <h2 class="text-warning"> Rotational jacks </h2>
<p>
Begin by standing with your feet together and your hands at your chest. As you land into this squatting position, rotate your upper body at the waist and reach your left hand toward the floor. At the same time, reach your right hand up to the sky. Jump back into your starting position.
</p>   
   </div>  
  </div>
  <hr>

      <div class="row">
     <div class="col-md-6">
    <img src="./assets/Burpees.gif" alt="Burpees" class="rounded-circle">
   </div>
   <div class="col-md-6">
     <h2 class="text-warning"> Burpees </h2>
<p>
To perform a burpee, follow these steps: From a standing position, drop down vertically and place both hands on the ground on either side of the foot. In one clean motion, take both feet back, so you are now in a pushup position. In one clean motion, bring the feet back to between the hands.
</p>   
   </div>  
  </div>
  <hr>

       <div class="row">
     <div class="col-md-6">
    <img src="./assets/Inchworm crawll.gif" alt="Inchworm crawl" class="rounded-circle">
   </div>
   <div class="col-md-6">
     <h2 class="text-warning"> Inchworm crawl </h2>
<p>
You start standing, reach your arms down toward the ground, walk your hands away from your feet, entering a plank-like position, before stepping your feet forward toward your hands and finally returning to a standing position. You then continue the worm-like crawl for time or repetitions.
</p>   
   </div>  
  </div>
  <hr> 
</body>
 <div>
    <app-abs></app-abs>
  </div>
</html>
