<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
   <!-- pushup workout information  -->
  <div class="row">  
    
   <div class="col-sm-6">    
    <img  id="pushup" src="./assets/pushup.gif" alt="" class="rounded-circle" >
   </div>
   <div class="col-sm-6">
    <p > <span><h2 class="text-warning">Push-ups</h2></span>
      A push-up (or press-up) is a common calisthenics exercise beginning from the prone position.
      By raising and lowering the body using the arms, push-ups exercise the pectoral muscles, triceps, 
      and anterior deltoids. According to the study published in Journal of Strength and Conditioning Research, 
      the test subjects supported with their hands, on average, 69.16% of their body mass in the up position, 
      and 75.04% in the down position during the traditional push-ups. In modified push-ups, where knees are used as the pivot point, 
      subjects supported 53.56% and 61.80% of their body mass in up and down positions. While the push-up primarily targets the muscles of the chest, 
      arms, and shoulders, support required from other muscles results in a wider range of muscles integrated into the exercise</p>
   </div>    
  </div>

  <!-- Pullup workout information -->
  <div class="row">
      <div class="col-sm-6"> 
        <img id="pullup" src="./assets/pullups.gif" alt="" class="rounded-circle">
      </div>
   <div class="col-sm-6">   
    <p > <span><h2 class="text-warning"> Pull-ups </h2></span>
     A pull-up is an upper-body strength exercise. The pull-up is a closed-chain movement where the body is suspended by the hands and pulls up. 
     As this happens, the elbows flex and the shoulders adduct and extend to bring the elbows to the torso.
     The term chin-up, traditionally referring to a pull-up with the chin brought over the top of a bar, was used in the 1980s to refer to a pronated, or overhand, grip, with a supinated, or underhand, grip being called a "reverse-grip" chin-up. 
     In later decades, this usage has inverted, with some using "chin-up" to refer to a pull-up done with a supinated hand position, while "pull-up" refers specifically to the exercise done with a pronated hand position.
    </p>
   </div></div>
   

  <!-- Dips workout information -->

  <div class="row">
   <div class="col-sm-6">
    <img id="dip" src="./assets/dips1.gif" alt="" class="rounded-circle">
   </div>
   <div class="col-sm-6">

    <p > <span><h2 class="text-warning"> Dips </h2></span>
     A dip is an upper-body strength exercise. Narrow, shoulder-width dips primarily train the triceps, 
     with major synergists being the anterior deltoid, the pectoralis muscles (sternal, clavicular, and minor), 
     and the rhomboid muscles of the back (in that order). Wide arm training places additional emphasis on the pectoral muscles, 
     similar in respect to the way a wide grip bench press would focus more on the pectorals and less on the triceps.
     To perform a dip, the exerciser supports themselves on a dip bar or from a set of rings with their arms straight down and shoulders over their hands, 
     then lowers their body until their arms are bent to a 90 degree angle at the elbows, and then lifts their body up, returning to the starting position
    </p>
   </div>
  </div>

<!-- running information -->

  <div class="row">
     <div class="col-sm-6">
     <img id="run" src="./assets/running.gif" alt="" class="rounded-circle">
    </div>
    <div class="col-sm-6">     
     <p > <span><h2 class="text-warning">Running</h2></span>
      Running in humans is associated with improved health and life expectancy.
      there are many benefits. Some of these benefits include potential weight loss, improved cardiovascular and respiratory health (reducing the risk of cardiovascular and respiratory diseases), 
      improved cardiovascular fitness, reduced total blood cholesterol, strengthening of bones (and potentially increased bone density), possible strengthening of the immune system and an improved self-esteem and emotional state. 
      Running, like all forms of regular exercise, can effectively slow or reverse the effects of aging. Even people who have already experienced a heart attack are 20% less likely to develop serious heart problems if more engaged in running or any type of aerobic activity.
      Although an optimal amount of vigorous aerobic exercise such as running might bring benefits related to lower cardiovascular disease and life extension, an excessive dose (e.g., marathons) might have an opposite effect associated with cardiotoxicity
     </p>
    </div>
   
  </div>

  <!-- Skipping Information  -->
  
  <div class="row">
   <div class="col-sm-6">
     <img id="skip" src="./assets/skip.gif" alt="" class="rounded-circle">
   </div>
   <div class="col-sm-6">
   <p>  <span><h2 class="text-warning">Skipping</h2></span>
    Skipping may be used as a cardiovascular workout, similar to jogging or bicycle riding, and has a high MET or intensity level. 
    This aerobic exercise can achieve a "burn rate" of up to 700 to over 1200 calories per hour of vigorous activity, with about 0.1 to nearly 1.1 calories consumed per jump mainly depending upon the speed and intensity of jumps and leg foldings. 
    Ten minutes of skipping is roughly the equivalent of running an eight-minute mile. Skipping for 15–20 minutes is enough to burn off the calories from a candy bar and is equivalent to 45–60 minutes of running depending upon the intensity of jumps and leg swings. 
    Many professional trainers, fitness experts and professional fighters greatly recommend skipping for burning fat over any other alternative exercises like running and jogging. 
    Weighted skipping ropes are available for such athletes to increase the difficulty and effectiveness of such exercise. Individuals or groups can participate in the exercise, and learning proper techniques is relatively simple compared to many other athletic activities. 
    The exercise is also appropriate for a wide range of ages and fitness levels. Improves heart health. Skipping rope is the best cardio exercise as it increases the heart rate. Increases concentration.
Improves coordination. Increases stamina and gets rid of fatigue. Increases body flexibility. Boost mental health.
Decreases belly fat. Strengthening your bones.
   </p>  
   </div>
  </div>

  <!-- Walking Information -->

  <div class="row">

     <div class="col-sm-6">
    <img id="walk" src="./assets/walking1.gif" alt="" class="rounded-circle">
   </div>
   <div class="col-sm-6">
    <p > <span><h2 class="text-warning"> Walking </h2></span>
     Walking is a great way to improve or maintain your overall health. Just 30 minutes every day can increase cardiovascular fitness, strengthen bones, reduce excess body fat, and boost muscle power and endurance.
     Regular, brisk exercise of any kind can improve confidence, stamina, energy, weight control and life expectancy and reduces stress. It can also decrease the risk of coronary heart disease, strokes, diabetes, 
     high blood pressure, bowel cancer and osteoporosis. Scientific studies have also shown that walking, besides its physical benefits, is also beneficial for the mind, improving memory skills, learning ability, 
     concentration and abstract reasoning, as well as ameliorating spirits. Sustained walking sessions for a minimum period of thirty to sixty minutes a day, five days a week, with the correct walking posture, 
     reduce health risks and have various overall health benefits, such as reducing the chances of cancer, type 2 diabetes, heart disease, anxiety disorder and depression. Life expectancy is also increased even 
     for individuals suffering from obesity or high blood pressure. Walking also improves bone health, especially strengthening the hip bone. 

    </p>
   </div>
  
  </div>

</body>
</html>