/* .container-fluid
{
  background-image:url("../../assets/boxing 3.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;  
} */
*
{
  box-sizing: border-box;
  margin:0px;
  padding:0px;
}
body
{
  background-color: rgb(128, 128, 128);
  /* background-color: rgba(65, 65, 64, 0.8); */
}