<div class="container-fluid">
 <!-- chest workout information -->
 <app-chest></app-chest>

<!-- tricep workout information -->
<app-tricep></app-tricep>

 <!-- bicep workout information -->
 <app-bicep></app-bicep>

 <!-- shoulder workout information  -->
 <app-shoulder></app-shoulder>

<!-- Lats workout information -->
<app-lats></app-lats>

<!-- front leg workout information -->
<app-front-squat></app-front-squat>

<!-- back leg workout information -->
<app-backsquad></app-backsquad>

</div>
