<!-- Front Squats workout Information  --> 

<!-- <div class="card bg-dark">
  <img
    src="../../assets/front squat animation.gif" class="card-img"  alt="..."  />

  <div class="card-img-overlay">
  
  </div> -->

<div class="container-fluid ">

 <h1  class="display-3 text-warning">FRONT SQUAT <span class="text-white">DAY</span> </h1> 
 
 <!-- First Row Details -->
<div class="row">
 <div class="col-sm-4">
  <div class="card" >
   <img class="card-img-top" src="./assets/bodyweight-squat.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Free Squats </h2>
    <p class="card-text">
     Free squats—also called bodyweight squats—work to strengthen the legs and hip muscles, 
     increase balance, increase range of motion, and stretch your muscles (in the bottom position). 
     Free squats can give your legs great endurance and noticeable tone.
    </p>
  
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
  <img class="card-img-top" src="./assets/Dumbbell squat1.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center">Dumbbell squat</h2>
    <p class="card-text">
     Assume athletic stance with dumbbells at sides and feet slightly wider than hip width.
Keeping back straight and knees behind toes, sink hips back and lower into squat until thighs are parallel to ground.
Extend hips and knees to drive up out of squat position. Repeat for specified reps.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/Dumbbell Lunges1.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center">Dumbbell Lunges</h2>
    <p class="card-text">
     Stand up straight with a dumbbell in each hand.
Take a big step forward with either leg, bending at the knee until the front thigh approaches parallel to the ground, landing on the heel.
Step back to your standing starting position while exhaling. Repeat the motion with the other leg.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
</div>

<!-- Second Row Details -->

<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
  <img class="card-img-top" src="./assets/Split squat2.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Split squat </h2>
    <p class="card-text">
     A type of single-leg squat, the Bulgarian split squat is sure to deliver big benefits to your lower body. 
     With one leg behind you and elevated off of the ground, 
     this exercise targets many of the same muscles as a traditional squat, but with an emphasis on the quads.
     
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
  <img class="card-img-top" src="./assets/Narrow Stance Leg Press1.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Narrow Stance Leg Press </h2>
    <p class="card-text">
     As you work your quads, glutes, and calves, the engineered smoothness of the Leg Press/Hack Squat Machine spares your bones and joints. 
     Three lockout positions are under the user's control throughout the exercises and provide user safety and the option of different start/stop positions.
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/Goblet Squat1.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Goblet Squat </h2>
    <p class="card-text">
    The Goblet Squat is a lower-body exercise in which you hold a dumbbell or kettlebell with both hands in front of your chest.
    
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
</div>




<!-- Third Row Details -->

<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
  <img class="card-img-top" src="./assets/Front Rack Barbell Split Squat1.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Front Rack Barbell Split Squat </h2>
    <p class="card-text">
     Retract your shoulders, and keep your chest and chin elevated. Lower slowly, flexing at the knee on the front leg, 
     until your back knee is almost touching the floor. Keeping your core engaged, rise to the start position. 
     Make sure you initiate the movement with the back leg rather than the front.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
  <img class="card-img-top" src="./assets/Dumbbell Step-Up1.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Dumbbell Step-Up </h2>
    <p class="card-text">
     Start by standing in front of a box or bench around knee height, holding dumbbells at your sides at arm's length. 
     Place your right foot firmly on the step, then drive through that foot to lift your body up until your right leg is straight and your left foot is elevated.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
  <img class="card-img-top" src="./assets/Zercher Squat1.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Zercher Squat </h2>
    <p class="card-text">
     The Zercher squat places the barbell in the crease of the elbow where the lifter 'hugs' the weight as close to their body as possible. 
     A common technique is to overlap the hands to add additional upper body strength.
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
</div>

<!-- Fourth Row Details -->

<div class="row mt-4">
 <div class="col-sm-4">
  <div class="card" >
  <img class="card-img-top" src="./assets/Machine Leg Extension1.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Machine Leg Extension  </h2>
    <p class="card-text">
     The leg extension is a resistance weight training exercise that targets the quadriceps muscle in the legs. The exercise is done using a machine called the Leg Extension Machine. 
     The exercise consists of bending the leg at the knee and extending the legs, then lowering them back to the original position.
     
    </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div> 
 <div class="col-sm-4">
    <div class="card" >
      <span></span>
  <img class="card-img-top" src="./assets/Single leg extension1.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center"> Single leg extension </h2>
    <p class="card-text">
     With your right leg still bent at a 90-degree angle, grip the side handles while maintaining a relaxed upper-body position. 
     Using your left quadriceps, begin to extend your left leg until it is fully extended. Hold for one second. 
     Slowly lower back down to your start position. That's one rep
    </p>
    <!-- <a href="#" class="btn btn-primary">See More </a> -->
  </div>
</div>
 </div>
 <div class="col-sm-4">
    <div class="card">
     <img class="card-img-top" src="./assets/Barbell front squat 2.gif" alt="Card image">
  <div class="card-body">
    <h2 class="card-title text-center">Barbell front squat </h2>
    <p class="card-text">
The barbell front squat is a compound exercise that some advanced exercisers use to target the lower body. 
The exercise puts less pressure on the spine than a traditional squat where the barbell is placed on the upper back.
     
    </p>
  
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
</div>
 </div>
</div>
</div>

 



